<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/inspiration/blog/posts/2/1.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="/css/hero.css">
    <link rel="stylesheet" type="text/css" href="/css/inspiration.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        // console.log(inViewport($('div.blogText')));
        if($('div.navBarGhost').css('display') == 'none'){
            $('div.blogImageWrapper').css({width: $('div.navBar').width()});
        }else{
            $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

        }
        // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
            $(window).resize(function(){

               

                if($('div.navBarGhost').css('display') == 'none'){
                    $('div.blogImageWrapper').css({width: $('div.navBar').width()});
                }else{
                    $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

                }
                // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
                // $('div.blogImageWrapper').css({top: $('div.navBar').offset().top});
            });

        });
    </script>
    
    <title>Aesthete</title>
</head>

<body>

<% include ../../../../header %>

<% include ../../../../inspirationNavBar %>

<!-- BLOG -->
<div class="blogContainer">
    <div class="blogImage">
        <div class="blogImageWrapper">
        <img id="blogHeaderImg" src="../images/inspiration/blog/posts/2/1.png"></img>
        <img id="blogHeaderImgMobile" src="../images/inspiration/blog/posts/2/mobile/1.png"></img>
        <img style = "visibility: hidden;" src="../images/inspiration/blog/posts/2/1.png"></img>
        </div>
    </div>
    <div class="blogText">
        <div class="blog" id="blog" style="text-align: center"><p class="title" style="font-size: 42px">Transparent Pricing</br><span class="author" style="font-size: 20px; line-height: 2px;">Cole Mayer</br><span class="date">September 2017</span></span></p>

            <p class="story" style="font-size: 20px">
Choosing the correct price-point is a challenge for any company, especially start-ups. If your product is marked too high then the customers will flock towards your competition, too low and you won’t be able to cover your costs. In clothing retail the mark-up is typically 3-4x’s that of the cost to produce the garment. With this metric, if a company spends $50 to produce a pair of shoes you can expect to pay $150-200 for them. Seems a little unfair to the consumer yeah?— that’s because it is. Enter transparent pricing.</br></br>

<span class="quote"><span class="author">Mohammad ElBaradei. </span>“If you have nothing to hide, then there is no reason not to be transparent.”</span>
</br></br>

At Aes•thete we’re doing things a little bit differently. We don’t have a department store— or even a small boutique, just our e-commerce site…that means we have less overhead and more flexibility. This spatial and fiscal freedom gives us the opportunity to design and create premium products without the absurd profit margins— helping us fulfill our mission to create a menswear brand that offers premium quality goods in a fully conscientious way.</br></br>

<span class="quote"><span class="author">Jason Hartman. </span>“Your brand is a promise to your customers… a promise of quality, consistency, competency, and reliability.”</span></br></br>

So how does transparent pricing work? We’ll use our Cashmere overcoat as an example…</br></br>

<div class="img">
<img src="/images/inspiration/blog/posts/2/images/1.png"></img>
</div>

</br></br>
<p class="story" style="font-size: 20px">
We’ve decided you, the customer, deserve to know the inner workings of our business model. As you can see above, the textile alone in our overcoat costs $200 (~$100 for the thick gauge authentic silk lining, and another ~$100 for the Cashmere self fabric). From there we add in our other main expense, cut-and-sew. Our master tailors work for 7-8 hours on each and every overcoat, totaling $188 per coat. We also thought to include the price of sales tax, because nobody likes making it to checkout just to pay more additional charges, this equates to $90 per coat. And there you have it, that brings our coat cost to $489.38 per unit. In a typical retail situation you would be looking at paying $1,200-$2,000 for the same product, we’ve priced ours at a 1.75x mark-up. </br></br>

We realize that paying this price for clothing just might not be in the cards for most consumers, that’s just fine— but to the people whom pride themselves on the quality of their wardrobe we are the best value out there. </br></br>

<span class="quote"><span class="author">Professor Jean-Noel Kapferer.</span> “A brand’s strength is built upon its determination to promote its own distinctive value and mission.”</span></br></br>

In addition to transparent pricing we have other mechanisms in place to ensure you that you’ve made a conscientious and morally just purchase. 
We’ve completely eliminated or minimized nearly all of our externalities, challenging the status-quo of the fashion industry. Eliminated or minimized externalities include but are not limited to: domestic production for ensured ethical working conditions and environmentally responsible manufacturing techniques, organic cotton across the board to reduce pesticide usage, our entire line is polyester-free meaning no crude oil usage, low impact dyes to reduce water pollution, re-purposed leather scraps from boot production, zero waste plastic-less packaging (fully recyclable), and many more.  </br></br>

Do unto other as you you would have them do unto you, this can and should be done even in the business world. Profits are nice— people are better. </br></br>

<% include ../../../../footer %>
        </div>
    </div>
</div>

    
<!-- END -->


</body>
</html>