<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">


    <link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="/css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/shop/product/gallery2.css">
    <link rel="stylesheet" type="text/css" href="/css/shop/product/vintage.css">

    <link rel="stylesheet" type="text/css" href="/css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="/js/shopLanding.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/variants/vintage/parka.js" /></script>
    
    <title>Aesthete | Curated Vintage Parkas for Men and Women</title>
</head>

<body>

<% include ../../header %>

<% include ../../navbar %>

<% include ../../cartTest %>

<div class="hero center vintageHero" id="feature1">
    <div class="heroFeature">
        <p class="title" id="vintageItemTitle">Vintage Military Parka</p>
        <p class="subtext">From 1930 - 1980</p>
        <p class="closing1"> <span class="closing2"></span></p>



    </div>

    <img class ="image1" src="/images/shop/product/vintage/parka/1.png" />
</div>

<div class="hero center mobile" id="feature1">
    <div class="heroFeature">
        <p class="title" id="vintageItemTitle">Vintage Military Parka</p>
        <p class="subtext">From 1930 - 1980</p>
        <p class="closing1"> <span class="closing2"></span></p>



    </div>

    <img class ="image1" src="/images/shop/product/vintage/parka/mobile/1.png" />
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<p id="info">Scroll through to select your unique parka of choice.</p>

<div class="gallery vintageFeature nonmobile" id="vintageFeature" style="background-image: url('/images/shop/product/vintage/parka/distressed/1.png')">
    
    <div class="controlLeft">
        

        <input id="prevVintageItem" type="image" src ="/images/shop/product/arrowLeft.png"/>
    </div>
        
    <div class="controlRight">
        
        <input id="nextVintageItem" type="image" src ="/images/shop/product/arrowRight.png"/>
    </div>
    <!-- <img class ="image1" src="/images/shop/product/vintage/parka/distressed/1.png" /> -->
</div>

<div class="gallery vintageFeature mobile" id="vintageFeatureMobile" style="background-image: url('/images/shop/product/vintage/parka/mobile/distressed/1.png')">
    
    <div class="controlLeft">
        

        <input id="prevVintageItemMobile" type="image" src ="/images/shop/product/arrowLeft.png"/>
    </div>
        
    <div class="controlRight">
        
        <input id="nextVintageItemMobile" type="image" src ="/images/shop/product/arrowRight.png"/>
    </div>
    <!-- <img class ="image1" src="/images/shop/product/vintage/parka/distressed/1.png" /> -->
</div>

<div class="gallery controlPanel" id="woolFeature">
    <div class="controlContainer nonmobile">
        <div class="title"><span id="subtext">Coat Number: <span id="index">1</span></span></br></br>Vintage Military Parka</div>

        <img class="sketch" src="/images/shop/product/vintage/parka/mobile/sketch.png" />

        <div class="productSizes">
                <div class="productSize">

                    <input id="productSizeSButton1" disabled="true" class="0" type="button" value="S"/>

                    <input id="productSizeMButton1" disabled="true" class="1" type="button" value="M"/>

                    <input id="productSizeLButton1" disabled="true" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton1" disabled="true" class="3" type="button" value="XL"/>
                </div>
        </div>


        <div class="description">No two pieces are alike, you will receive the exact garment that you purchase. Size and consistency varries from garment to garment by nature.</div>

        <div class="cartContainer"><input id="cartGridFinal1" class="10244795336" type="button" value="ADD TO CART"/></br></br>
        <span id="added" style="opacity:0.0;">Added</span></div>
    </div>

    <div class="controlContainer mobile">
        <div class="productSizes">
                <div class="productSize">

                    <input id="productSizeSButton1Mobile" disabled="true" class="0" type="button" value="S"/>

                    <input id="productSizeMButton1Mobile" disabled="true" class="1" type="button" value="M"/>

                    <input id="productSizeLButton1Mobile" disabled="true" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton1Mobile" disabled="true" class="3" type="button" value="XL"/>
                </div>
        </div>

        <div class="title">Vintage Military Parka</br></br><span id="subtext">Coat Number: <span id="index">1</span></span></div>

        <img class="sketch" src="/images/shop/product/vintage/parka/mobile/sketch.png" />


        <div class="description">No two pieces are alike, you will receive the exact </br>garment that you purchase. Size and consistency varries from garment to garment by nature.</div>

        <div class="cartContainer"><input id="cartGridFinal1Mobile" class="10244795336" type="button" value="ADD TO CART"/></br></br>
        <span id="addedMobile" style="opacity:0.0;">Added</span></div>
    </div>
</div>

<% include ../../footer %>

</body>
</html>