@font-face {
    font-family: Campton-Light;
    src: url("../fonts/Campton-Light.otf") format("opentype");
}

@font-face {
    font-family: Campton-Bold;
    src: url("../fonts/Campton-Bold.otf") format("opentype");
}

body{
  overflow-x: hidden !important;
}

.headerBar{
  width: 100vw;
	height: 50px;

	border-bottom: solid 1px #979797;
	text-align: center;
}

.headerBar .shop{

    -webkit-appearance: none;
	display: inline-block;
	float: left;
	margin-left: 5%;
    margin-top: 5px;
    border: 1px solid #979797;
    border-radius: 4px;
    background-color: #FFF;
    font-size: 13px;
    padding: 10px 15px 5px 15px;
    color: #3E3E3E;
    font-family: 'Campton-Light';
}
.headerBar .inspire{

    -webkit-appearance: none;
	display: inline-block;
	float: left;
	margin-left: 2%;
    margin-top: 14px;
    border: none;
    background-color: #FFF;
    font-size: 13px;
    color: #3E3E3E;
    font-family: 'Campton-Light';
}

.headerBar .logo{
	display:inline-block;
    margin: 0 auto;
    margin-right: 4%;
    width:130px;
    height:25px;
    margin-top: 5px;
}

.headerBar .cart{
	display: inline-block;
	float: right;
	width: 15px;
	height: 20px;
	margin-right: 5%;
    margin-top: 10px;
}

.headerBar .login{

    -webkit-appearance: none;
	display:inline-block;
    float: right;
	margin-right: 2%;
    margin-top: 14px;
    border: none;
    background-color: #FFF;
    font-size: 13px;
    color: #3E3E3E;
    font-family: 'Campton-Light';
}

.headerBar .signup{
  
    -webkit-appearance: none;
    display:inline-block;
    float: right;
    margin-right: 2%;
    margin-top: 14px;
    border: none;
    background-color: #FFF;
    font-size: 13px;
    color: #3E3E3E;
    font-family: 'Campton-Light';
}

#menuToggle
{

  display: none;
  position: absolute;
  margin-top: 12px;
  margin-left: 5%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a
{
  text-decoration: none;
  color: #3E3E3E;
  font-family: 'Campton-Light';
  
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: #3E3E3E;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(65deg) translate(2.5px, -6.8px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  /*opacity: 0;*/
  transform: rotate(0deg) scale(0.5, 0.5);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-65deg) translate(0, -1px) scale(1, 0.5);
}

#menu
{
  position: absolute;
  width: 500px;
  height: 1080px;
  margin: -100px 0 0 -55px;
  padding: 50px;
  padding-top: 125px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  text-align: left;

  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 20px 0;
  font-size: 18px;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

@media only screen and (max-width: 550px) {
    .headerBar .shop{
        display: none;
    }
    .headerBar .inspire{

        display: none;
    }

    .headerBar .signup{
        display: none;
    }
    .headerBar .login{
        display: none;
    }

    .headerBar .logo{
        margin-top: 9px;
        padding-left: 20px;

        margin-right: 0;
        margin-left: 2%;
    }

    .headerBar .cart{
        margin-top: 12px;
    }

    #menuToggle{
        display: block;
    }

}