
.headerBar{
	width: 100%;
	height: 50px;

	border-bottom: solid 1px #979797;
	text-align: center;
}

.headerBar .signup{
	display: inline-block;
	float: left;
	margin-left: 5%;
    margin-top: 5px;
    border: 1px solid #979797;
    border-radius: 4px;
    background-color: #FFF;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
}
.headerBar .shop{
	display: inline-block;
	float: left;
	margin-left: 2%;
    margin-top: 9px;
    border: none;
    background-color: #FFF;
    font-size: 15px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
}

.headerBar .logo{
	display:inline-block;
    margin: 0 auto;
    width:130px;
    height:25px;
    margin-top: 5px;
}

.headerBar .cart{
	display: inline-block;
	float: right;
	width: 15px;
	height: 20px;
	margin-right: 5%;
    margin-top: 10px;
}

.headerBar .login{
	display:inline-block;
    float: right;
	margin-right: 2%;
    margin-top: 9px;
    border: none;
    background-color: #FFF;
    font-size: 15px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
}

