<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton"  id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" style = "font-weight: bold;" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>



<div class="hero center" id="accessoriesHeader">
    <div class="heroFeature white vCenter">
        <p class="title">Accessories</p>
        <p class="subtext">Minimal Basics</p> 

    </div>

    <img class ="image1" src="../images/shop/accessories/1.png" />
</div>

<div class="hero right mobile" id="accessoriesHeaderMobile" >
    <div class="heroFeature">
        

    </div>

    <img class ="image1" src="../images/shop/accessories/mobile/1.png" />
</div>

<div class="hero right" id="accessoriesFeature2" >
    <div class="heroFeature">
        <p class="title">Cuff Bracelet</p>
        <p class="subtext"><strong>Perfect for any occasion.</strong></br></br>Steel alloy cuff bracelets available in:</br>Gold, Silver and Black.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input id="accessoriesFeature1CTA" class="heroCTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/accessories/2.png" />
</div>

<div class="hero right mobile" id="accessoriesFeature2Mobile" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="accessoriesFeature1CTAMobile" type="button" value="SHOP ACCESSORIES" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/accessories/mobile/2.png" />
</div>

<div class="hero left" >
    <div class="heroFeature">
        <p class="title">Classic Tote Bags</p>
        <p class="subtext"><strong>Carry your things in style.</strong></br></br>100% Organic Cotton</br>Accented with an Aes•thete contour sketch</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input id="vintageFeature3CTA" id="bootsFeature2CTA" class="heroCTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/accessories/3.png" />
</div>





<% include footer %>

</body>
</html>