<script src="/js/banner.js"> </script>
<link rel="stylesheet" type="text/css" href="/css/banner.css">
<div class="discountBanner">
	<div id="snow"></div>
    <p class="discountPreText desktop">ORDER BY DECEMBER 20TH TO RECEIVE BY DECEMBER 24TH</p>

    <p class="discountPreText mobile">ORDER BY DECEMBER 20TH</p>

    <p class="discountTitle">LAST CHANCE TO ORDER</p>
    <p class="discountMainText"></p>


    <p class="discountSubText"> <span class="">ORDER ON OR BEFORE DECEMBER 20TH FOR GUARANTEED DELIVERY BY DECEMBER 24TH.</span> COMPLIMENTARY EXPEDITED SHIPPING AND GIFT WRAPPING INCLUDED.</p>
    <p class="discountSubText"> </p>
    <p class="discountSubtext2"> 30% off</p> 
</div>