<!DOCTYPE html>

<!--      
     /\  \         /\  \         /\  \         /\  \         /\__\    
    /::\  \       /::\  \       /::\  \        \:\  \       /:/  /    
   /:/\:\  \     /:/\:\  \     /:/\ \  \        \:\  \     /:/__/     
  /::\~\:\  \   /::\~\:\  \   _\:\~\ \  \       /::\  \   /::\  \ ___ 
 /:/\:\ \:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\     /:/\:\__\ /:/\:\  /\__\
 \/__\:\/:/  / \:\~\:\ \/__/ \:\ \:\ \/__/    /:/  \/__/ \/__\:\/:/  /
      \::/  /   \:\ \:\__\    \:\ \:\__\     /:/  /           \::/  / 
      /:/  /     \:\ \/__/     \:\/:/  /     \/__/            /:/  /  
     /:/  /       \:\__\        \::/  /                      /:/  /   
     \/__/         \/__/         \/__/                       \/__/    
      ___           ___           ___     
     /\  \         /\  \         /\  \    
    /::\  \        \:\  \       /::\  \   
   /:/\:\  \        \:\  \     /:/\:\  \  
  /::\~\:\  \       /::\  \   /::\~\:\  \ 
 /:/\:\ \:\__\     /:/\:\__\ /:/\:\ \:\__\
 \:\~\:\ \/__/    /:/  \/__/ \:\~\:\ \/__/
  \:\ \:\__\     /:/  /       \:\ \:\__\  
   \:\ \/__/     \/__/         \:\ \/__/  
    \:\__\                      \:\__\    Designed By: Dustin Simantob
     \/__/                       \/__/    Developed By: Ritesh Pakala
                                          Emotional Support By: Ian Reid-->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" type="text/css" href="../css/inspiration.css">

    <script src="http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<% include inspirationNavBar %>

<!-- BLOG -->
<div class="blogContainer">
    <div class="blogImage">
        <img id="blogHeaderImg" src="../images/inspiration/ourstory/1.png"></img>
        <img style = "visibility: hidden;" src="../images/inspiration/ourstory/1.png"></img>
    </div>
    <div class="blogText">
        <div class="blog" id="blog" style="text-align: center">
            <p style="font-size: 42px">Coming Soon</p>
        </div>
    </div>
</div>

    
<!-- END -->

<% include footer %>

</body>
</html>