<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" style = "font-weight: bold;" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="hero left" id="feature1">
    <div class="heroFeature">
        <p class="title">Lace-Up Boot</p>
        <p class="subtext"><strong>100% Tempesti leather from the Tuscan leather district of Italy.</strong></br></br>Stacked leather sole</br>Authentic blake-welt-stitch</br></br>Minimal yet elegant</br></br>Minimal and elegant</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input class="heroCTA" id="bootsFeature1CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/boots/1.png" />
</div>

<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="bootsFeature1CTAMobile" type="button" value="SHOP BOOTS" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/boots/mobile/1.png" />
</div>



<% include footer %>

</body>
</html>