<link rel="stylesheet" type="text/css" href="/css/cart.css">

  <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
  <!-- <script src="/js/landing.js" /></script> -->
  <!-- <script src="/js/signup.js" /></script> -->
  <script src="/js/checkout.js" /></script>

<div class ="cartOverlay">
<div class="cartHeader">

<input type ="image" src="/images/close.png" id="dismissCart" /> 

</div>
  <table class="cartTable">
  <tr id="tableHeader">
          <th class="mdl-data-table__cell--non-numeric basicHeader border"></th>
          <th class="mdl-data-table__cell--non-numeric basicHeader border"></th>
          <th class="mdl-data-table__cell--non-numeric basicHeader border"></th>
          <th class="mdl-data-table__cell--non-numeric"> </th>
        </tr>

  <tbody id="table_body"> </tbody>
  </table>

  </br>

  <div class="checkoutRow">
  <input id="checkoutCart" type="button" value="CHECK OUT"/>
  </div>
</div>