<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete</title>
</head>

<body>

<div class="headerBar">
    <nav role="navigation">
      <div id="menuToggle">
      
        <input type="checkbox" />
        
        
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
          <a href="http://aesthete.us/shop"><li>Shop</li></a>
        </ul>
      </div>
    </nav>

    <input class="shop" type="button" value="SHOP" />
    <!-- <input class="inspire" type="button" value="INSPIRATION" /> -->


    <input class="logo" id="headerLogo" type="image" src="../images/header/logo.png"/>


    <input class="cart" id="shoppingBag" type="image" src="../images/header/shoppingBag.png"/>

    <!-- <input class="login" id="login" type="button" value="LOGIN" />
    <input class="signup" id="signUp" type="button" value="SIGN UP" /> -->


</div>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" style = "font-weight: bold;" id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="hero left" id="feature1">
    <div class="heroFeature">
        <p class="title">Cashmere Overcoat</p>
        <p class="subtext">100% premium Cashmere Exterior</br>20mm gauge authentic Silk Lining</br></br>A timeless staple piece of our brand.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input id = "coatsFeature1CTA" class="heroCTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/coats/1.png" />
</div>

<div class="hero left mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="coatsFeature1CTAMobile" type="button" value="SHOP COATS" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/coats/mobile/1.png" />
</div>

<div class="hero right">
    <div class="heroFeature">
        <p class="title">Angora Overcoat</p>
        <p class="subtext">100% Angora / Cashmere blend exterior</br>20mm gauge authentic Silk Lining</br></br>A timeless staple piece of the brand.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input id="coatsFeature2CTA" class="heroCTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/coats/2.png" />
</div>


<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id = "coatsFeature2CTAMobile" type="button" value="SHOP COATS" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/coats/mobile/2.png" />
</div>


<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" />
        <input class="membership" type="button" value="Terms Of Use" />
        <input class="membership" type="button" value="Privacy Policy" />
        <input class="membership" type="button" value="Return Policy" />
        <input class="membership" type="button" value="Contact Us" />
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="../images/footer/social/instaIcon.png"/>
        <input class="mailIcon" type="image" src="../images/footer/social/mailIcon.png"/>
        <input class="twitterIcon" type="image" src="../images/footer/social/twitterIcon.png"/>
        <input class="faceBookIcon" type="image" src="../images/footer/social/facebookIcon.png"/>
    </div>

</div>

</body>
</html>