<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="/js/jquery.scrollify.js"></script>
    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete | Luxury Coats for Men</title>
</head>

<body>

<% include newsletter %>

<% include header %>

<% include navbar %>

<% include cartTest %>

<div class="hero left desktop" id="feature1" data-section-name="1">
    <div class="heroFeature">
        <p class="title">Cashmere Overcoat</p>
        <p class="subtext">100% premium Cashmere Exterior</br>20mm gauge authentic Silk Lining</br></br>A timeless staple piece of our brand.</p>
        <p class="closing1"> <span class="closing2">Free domestic shipping and returns</span></p>


        <input id = "coatsFeature1CTA" class="heroCTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/coats/1.png" />
</div>

<div class="hero left mobile" id="feature1" >
 

    <a href="/shop/product/overcoat"><img class ="image1" src="../images/shop/coats/mobile/1.png" /></a>
</div>

<div class="hero right desktop" data-section-name="2">
    <div class="heroFeature" style="margin-top: 8%;">
        <p class="title">Angora Overcoat</p>
        <p class="subtext">100% Angora / Cashmere blend exterior</br>20mm gauge authentic Silk Lining</br></br>A timeless staple piece of the brand.</p>
        <p class="closing1"> <span class="closing2">Free domestic shipping and returns</span></p>


        <input id="coatsFeature2CTA" class="heroCTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/coats/2.png" />
    <div class="featureOverlay"></div>
</div>


<div class="hero right mobile" id="feature1" >
 

    <a href="/shop/product/overcoat"><img class ="image1" src="../images/shop/coats/mobile/2.png" /></a>
    <div class="featureOverlay"></div>
</div>


<% include footer %>

</body>
</html>