<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../js/shopLanding.js"></script>
    <script src="../../js/grid.js"></script>
    <script src="../../js/gallery.js"></script>
    <script src="../../js/checkout.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include ../header %>

<% include ../navbar %>

<div class="hero center heroProductPage" id="feature1">
    <div class="heroFeature">
        <p class="title">Cotton Tees</br>
        <span class="subtext">100% Organic Cotton</span></p>
        <p class="closing1"> <span class="closing2"></span></p>


    </div>

    <img class ="image1" src="../../images/shop/product/cottontees/1.png" />
</div>

<div class="hero mobileProductPage" id="feature1">

    <img class ="image1" src="../../images/shop/product/cottontees/mobile/1.png" />
</div>

<div class="grid">
    <div class="row2">
        <div class="module">
            <div class="productDetailGrid" id = "productDetailGrid1">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal1" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" class="0" type="button" value="S"/>

                    <input id="productSizeMButton1" class="1" type="button" value="M"/>

                    <input id="productSizeLButton1" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton1" class="3" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Cream White</span>
                </div>
                
            </div>

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/cotton-tees/main:creamcotton"><span class="title">Organic Cotton</span> <span class="variant">&nbsp;&nbsp;Cream White |</span>&nbsp;&nbsp;<span class="price">$80</span></a><p class="subtext">No additional fees or charge</br>
                    <span class="subtext2">Organic Cotton. Hand sewn in San Francisco.</span></p>
                </div>

                <input class ="addToCart" id="cartGrid1" type="image" src="../../images/shop/product/addToCart.png" />
            </div>
            <a href="/shop/product/cotton-tees/main:creamcotton"><img src="/images/shop/product/cottontees/color1.jpg"></img></a>
        </div>
        <div class="module">
            <div class="productDetailGrid" id = "productDetailGrid2">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal2" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton2" class="4" type="button" value="S"/>

                    <input id="productSizeMButton2" class="5" type="button" value="M"/>

                    <input id="productSizeLButton2" class="6" type="button" value="L"/>
                    <input id="productSizeXLButton2" class="7" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Faded Black</span>
                </div>
            </div>

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/cotton-tees/main:blackcotton"><span class="title">Organic Cotton</span> <span class="variant">&nbsp;&nbsp;Faded Black |</span>&nbsp;&nbsp;<span class="price">$80</span></a><p class="subtext">No additional fees or charge</br>
                    <span class="subtext2">Organic Cotton. Hand sewn in San Francisco.</span></p>
                </div>

               
                <input class ="addToCart" id="cartGrid2" type="image" src="../../images/shop/product/addToCart.png" />
                
            </div>


            <a href="/shop/product/cotton-tees/main:blackcotton"><img src="/images/shop/product/cottontees/color2.jpg"></img></a>
        </div>
    </div>
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery3" >
        <p class="headerDetail"><span class="productName">Cotton Tee</span> | $80 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% Organic Cotton. Made in San Francisco.</br></br></p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal3" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton3" class = "0" type="button" value="S"/>

                    <input id="productSizeMButton3" class = "1" type="button" value="M"/>

                    <input id="productSizeLButton3" class = "2" type="button" value="L"/>
                    <input id="productSizeXLButton3" class = "3" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Cream White</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton3"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/cottontees/2.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery4" >
        <p class="headerDetail"><span class="productName">Cotton Tee</span> | $80 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% Organic Cotton. Made in San Francisco.</br></br></p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal4" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton4" class = "4" type="button" value="S"/>

                    <input id="productSizeMButton4" class = "5" type="button" value="M"/>

                    <input id="productSizeLButton4" class = "6" type="button" value="L"/>
                    <input id="productSizeXLButton4" class = "7" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Faded Black</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton4"  type="image" src="../../images/shop/product/infoButtonWhite.png"/>
    <img class ="image1" src="../../images/shop/product/cottontees/3.png" />
</div>



<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery5">
            <p class="headerDetail"><span class="productName">Cotton Tee</span> | $80 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% Organic Cotton. Made in San Francisco.</br></br></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal5" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton5" class = "0" type="button" value="S"/>

                        <input id="productSizeMButton5" class = "1" type="button" value="M"/>

                        <input id="productSizeLButton5" class = "2" type="button" value="L"/>
                        <input id="productSizeXLButton5" class = "3" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Cream White</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton5"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/cottontees/4.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery6">
            <p class="headerDetail"><span class="productName">Cotton Tee</span> | $80 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% Organic Cotton. Made in San Francisco.</br></br></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal6" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton6" class = "4" type="button" value="S"/>

                        <input id="productSizeMButton6" class = "5" type="button" value="M"/>

                        <input id="productSizeLButton6" class = "6" type="button" value="L"/>
                        <input id="productSizeXLButton6" class = "7" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Faded Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton6"  type="image" src="../../images/shop/product/infoButtonWhite.png"/>
    <img class ="image1" src="../../images/shop/product/cottontees/5.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery7">
            <p class="headerDetail"><span class="productName">Cotton Tee</span> | $80 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% Organic Cotton. Made in San Francisco.</br></br></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal7" class="10245047688" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton7" class = "4" type="button" value="S"/>

                        <input id="productSizeMButton7" class = "5" type="button" value="M"/>

                        <input id="productSizeLButton7" class = "6" type="button" value="L"/>
                        <input id="productSizeXLButton7" class = "7" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Faded Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton7"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/cottontees/6.png" />
</div>

<% include ../footer %>

</body>
</html>