<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="text">

<p style="font-size: 20px" class="title"> FAQ </p>
<p style="font-size: 20px" class="body">
Q: How do I initiate a return in your e-commerce experience? </br>
A: Simply drop us a line >here< with your name and unique order number (your unique order number is included in the original order confirmation e-mail and the e-mail you received when your product(s) shipped). Once we receive this we’ll send you a printable shipping label. Stick it on the original box, seal it well, and drop it off at your nearest USPS. Note: Non-members have a $10 flat rate shipping and return fee, whilst members get these both shipping and returns free. 
</br></br>
Q: What should I do if i’m unsure of my size?</br>
A: We recommend you purchase the piece in both sizes and return the one that doesn’t fit well, that way you get your piece quicker and we don’t have to hurt the environment as much through repeat shipping. 
</br></br>
Q: What are the benefits of becoming an Aes•thete Exclusive Member? </br>
A: Aes•thete Exclusive Members receive free shipping and returns on all purchases. In addition, Members will also receive access to our seasonal Vintage Collections and other exclusive products. Currently we can only offer ~1,000 membership slots— first come first serve. 
</br></br>
Q: How long can I expect to receive my order after placing it?</br>
A: We use USPS 3-day Shipping on all purchases. You’ll be provided with tracking number the moment we ship your product(s) so you’ll know exactly where they are along the process.
</br></br>
Q: What is “transparent pricing”.</br>
A: Transparent pricing is a way for us to show you, the consumer, how Aes•thete operates. We believe you deserve to know about the brands you shop from— in an easy and honest way. 
</br></br>
Q: Can you tell me more about your Non-Profit partnership?</br>
A: We partner with the National Forest Foundation (NFF) to help offset our carbon emissions and lessen the impact on the environment. When you make a purchase, let’s say ~$100, then we donate 1% of that, $1 in this case, to the National Forest Foundation. For every $1 the National Forest Foundation receives from us they’ve promised (and proved their promise) to plant at least 1 tree in a national forest that needs recovery. We see this as a very valid and successful way to ensure we’re giving back to mother nature for decades to come. 
</br></br>
Q: Why share your “manufacturers” and “material sourcing”.</br>
A: Like transparent pricing, this section of the experience is to help familiarize you, the customer, with the way Aes•thete operates. In this day in age it is especially important that brands are honest with their customers… this is a mechanism we use to ensure just that. Simply hover over a dot on our world map to see where we sourced/manufactured something. 
 </p>

</div>

<% include footer %>

    
<!-- END -->



</body>
</html>