<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" />
        <input class="membership" type="button" value="Terms Of Use" />
        <input class="membership" type="button" value="Privacy Policy" />
        <input class="membership" type="button" value="Return Policy" />
        <input class="membership" type="button" value="Contact Us" />
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="images/footer/social/instaIcon.png"/>
        <input class="mailIcon" type="image" src="images/footer/social/mailIcon.png"/>
        <input class="twitterIcon" type="image" src="images/footer/social/twitterIcon.png"/>
        <input class="faceBookIcon" type="image" src="images/footer/social/facebookIcon.png"/>
    </div>

</div>
