<link rel="stylesheet" type="text/css" href="/css/footer.css">


<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" onclick="location.href='https://aesthete.us/signup';" />
        <input class="membership" type="button" value="Privacy Policy" onclick="location.href='https://aesthete.us/privacy';"/>
        <input class="membership" type="button" value="Return Policy" onclick="location.href='https://aesthete.us/returns';"/>
        <input class="membership" type="button" value="Contact Us" onclick="location.href='mailto:support@aesthete.us';"/>

        <input class="membership" type="button" value="FAQ" onclick="location.href='https://aesthete.us/faq';"/>
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="/images/footer/social/instaIcon.png" onclick="location.href='https://www.instagram.com/aesthete.us/';" target="_blank"/>
        <input class="mailIcon" type="image" src="/images/footer/social/mailIcon.png" onclick="location.href='mailto:support@aesthete.us';" target="_blank"/>
        <input class="twitterIcon" type="image" src="/images/footer/social/twitterIcon.png" onclick="location.href='https://twitter.com/aestheteus';" target="_blank"/>
        <input class="faceBookIcon" type="image" src="/images/footer/social/facebookIcon.png" onclick="location.href='https://www.facebook.com/aesthete.us/';" target="_blank"/>
    </div>

<script>
  window.intercomSettings = {
    app_id: "cjt28xho"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/cjt28xho';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '276376926197245'); // Insert your pixel ID here.
fbq('track', 'PageView');
fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=276376926197245&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/js/analytics.js','ga');

ga('require', 'ecommerce');

</script>

<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0069/6191.js" async="async"></script>
</div>
