<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" type="text/css" href="../css/inspiration.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        // console.log(inViewport($('div.blogText')));
        if($('div.navBarGhost').css('display') == 'none'){
            $('div.blogImageWrapper').css({width: $('div.navBar').width()});
        }else{
            $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

        }
        // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
            $(window).resize(function(){

               

                if($('div.navBarGhost').css('display') == 'none'){
                    $('div.blogImageWrapper').css({width: $('div.navBar').width()});
                }else{
                    $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

                }
                // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
                // $('div.blogImageWrapper').css({top: $('div.navBar').offset().top});
            });

        });

        // if (detectmob()){
        //     // $('div.blogText').css({width: $('div.navBar').width()});
        //     // $('div.blog').css({width: $('div.navBar').width()});
        //     // alert("hello");
        // }

        // function detectmob() {
        //    if(window.innerWidth <= 650) {
        //      return true;
        //    } else {
        //      return false;
        //    }
        // }
    </script>
    
    <title>Aesthete | Inspiration</title>
</head>

<body>

<% include newsletter %>

<% include header %>

<% include inspirationNavBar %>


<!-- BLOG -->
<div class="blogContainer">
    <div class="blogImage">
    <div class="blogImageWrapper">
        <img id="blogHeaderImg" src="../images/inspiration/ourstory/1.png"></img>
        <img id="blogHeaderImgMobile" src="../images/inspiration/ourstory/mobile/1.png"></img>
        <img style = "visibility: hidden;" src="../images/inspiration/ourstory/1.png"></img>
        </div>
    </div>
    <div class="blogText ourstory">
        <div class="blog" id="blog" style="text-align: center">
            <img class="logo" id="logo" src="/images/logos/adot.png"></img>
            <p style="font-size: 20px; text-align: center !important;"><span style="font-size: 16px">Aes•thete | ˈesˌTHēt - noun | A person who has or affects to have a special appreciation of art and beauty.</span></br></p><p class="ourstoryText">We are Aes•thete. A group of five driven individuals from all walks of life. Through our mutual passion for creation we’ve channeled our diverse skill sets into a singular mission: Create a menswear brand that offers premium level goods in a fully conscientious way. In doing this we have many responsibilities— from sustainable material sourcing to the individuals that create our products. </BR></BR> We believe in minimal design coupled with top-notch materials and expert craftsmanship. From this formula we’ve created a collection of timeless staple pieces eager to better your wardrobe for decades to come.</p>



        <% include footer %>

        </div>

    </div>
    
</div>

    
<!-- END -->



</body>
</html>