<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/landing/header.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">


    <script src="../js/landing.js" /></script>
    <script src="../js/signup.js" /></script>
    <script src="../js/shopLanding.js" /></script>

    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" />
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="memberPortal" id="landingMemberPortal">
        <div class="memberFeature login">
            <p class="title">Member Login</p>
            <p class="subtext">Access your account here: </p>

            <form class="signupFormMobileLogin">
                <input type="text" id="email" placeholder="Email:"> </input>

                <input type="text" id="password" placeholder="Password:"> </input>
                <input class ="loginAccount" id="loginAccount" type="button" value="Login"/>
                
            </form>

            <form class="signupForm">
                <input type="text" id="email" placeholder="Email:"> </input>

                <input type="text" id="password" placeholder="Password:"> </input>
                <input class ="loginAccount" id="createAccount" type="button" value="Login"/>
                
            </form>


            <input class ="signUpLogin" type="button" value="Sign Up >"/> <input class ="forgotLogin" type="button" value="Forgot Password >"/>
        </div>
        <div class="img">
        <img src="../images/login/1.png"/>
        </div>
    </div>


<% include footer %>

</body>
</html>