<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" />
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>