<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>
    
    <title>Aesthete | Privacy</title>
</head>

<body>

<% include header %>

<div class="text">

<p style="font-size: 20px" class="title"> Privacy and Protection </p>
<p style="font-size: 20px" class="body">As a new Fashion House born within the uprising of technology we believe that the best product embodies both the art of design and the functionality and ease of technology. We use the best technology available to protect your information. If you have any questions about our Privacy Policy please feel free to reach out to us and we will be happy to answer any questions. 

Privacy Policy: Protecting your private information is our priority. This Statement of Privacy applies to 548 Market St. #54688 and Aesthete and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Aesthete include 548 Market St. #54688 and Aesthete. The Aesthete website is a Product Sales site. By using the Aesthete website, you consent to the data practices described in this statement. TRUSTe Privacy Program Aesthete is a licensee of the TRUSTe Privacy Program. TRUSTe is an independent organization whose mission is to build users' trust and confidence in the Internet by promoting the use of fair information practices. Because we want to demonstrate our commitment to your privacy, we have agreed to disclose our information practices and have our privacy practices reviewed for compliance by TRUSTe. If you have questions or concerns regarding this policy, you should first contact us at cole@aesthete.us. If you do not receive acknowledgement of your inquiry or your inquiry has not been satisfactorily addressed, you should contact TRUSTe at http://watchdog.truste.com/pvr.php? page=complaint. TRUSTe may serve as a liaison with us to resolve your concerns. Collection of your Personal Information Aesthete may collect personally identifiable information, such as your: If you purchase Aesthete's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. Aesthete may also collect anonymous demographic information, which is not unique to you, such as your: We may gather additional personal or non-personal information in the future. Aesthete encourages you to review the privacy statements of websites you choose to link to from Aesthete so that you can understand how those websites collect, use and share your information. Aesthete is not responsible for the privacy statements or other content on websites outside of the Aesthete website. Use of your Personal Information - Name - E-mail Address - Age - Gender - Household Income This is a RocketLawyer.com document. Aesthete collects and uses your personal information to operate its website(s) and deliver the services you have requested. Aesthete may also use your personally identifiable information to inform you of other products or services available from Aesthete and its affiliates. Aesthete may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered. Aesthete does not sell, rent or lease its customer lists to third parties. Aesthete may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Aesthete, and they are required to maintain the confidentiality of your information. Aesthete may keep track of the websites and pages our users visit within Aesthete, in order to determine what Aesthete services are the most popular. This data is used to deliver customized content and advertising within Aesthete to customers whose behavior indicates that they are interested in a particular subject area. Aesthete will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Aesthete or the site; (b) protect and defend the rights or property of Aesthete; and, (c) act under exigent circumstances to protect the personal safety of users of Aesthete, or the public. Automatically Collected Information Information about your computer hardware and software may be automatically collected by Aesthete. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Aesthete website. Use of Cookies The Aesthete website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you. One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Aesthete pages, or register with Aesthete site or services, a cookie helps Aesthete to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Aesthete website, the information you previously provided can be This is a RocketLawyer.com document. retrieved, so you can easily use the Aesthete features that you customized. You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Aesthete services or websites you visit. Security of your Personal Information Aesthete secures your personal information from unauthorized access, use, or disclosure. Aesthete uses the following methods for this purpose: When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol. Children Under Thirteen Aesthete does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. Opt-Out & Unsubscribe We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Aesthete by contacting us here: - Web page: _________________ - Email: _________________ - Phone: _________________ Changes to this Statement Aesthete will occasionally update this Statement of Privacy to reflect company and customer feedback. Aesthete encourages you to periodically review this Statement to be informed of how Aesthete is protecting your information. Contact Information Aesthete welcomes your questions or comments regarding this Statement of Privacy. If you believe that Aesthete has not adhered to this Statement, please contact Aesthete at: Aesthete 548 Market St. #54688 San Francisco, California 94104-5401 Email Address: - SSL Protocol - We use top level database encryption in addition to corporate security measures such as unique password logins for admin accounts in order to protect your information. This is a RocketLawyer.com document. cole@aesthete.us Telephone number: 3038186069 Effective as of June 14, 2017</p>

</div>

<% include footer %>

    
<!-- END -->



</body>
</html>