<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="text">

<p style="font-size: 20px" class="title"> Return Policy </p>
<p style="font-size: 20px" class="body">
You have 30 days after purchase to initiate a return. That means if you ordered January 1st you would have until January 31st to initiate the return process. All returns must be untarnished and undamaged. There are some slight differences between non-member and returns, although both are hassle free and easy. 

</br></br>

Non-Member Returns: 
Initiate your return by sending us a message at support@aesthete.us. Please provide us with your name and your unique order number (your unique order number is included in the original confirmation e-mail and the e-mail you received when your product(s) shipped). We will then provide you with a printable shipping label, just apply it to the original box (or any if need be), seal it well, and drop it off at your nearest USPS. Once we receive the product we will reimburse you for the total cost of prchase minus a $10 flat rate return shipping fee. 
</br></br>
Aes•thete Member Returns:
Initiate your return by sending us a message (here). (we still need this link, most likely through intercom) Please provide us with your name and your unique order number (your unique order number is included in the original confirmation e-mail and the e-mail you received when your product(s) shipped). We will then provide you with a printable shipping label, just apply it to the original box (or any if need be), seal it well, and drop it off at your nearest USPS. Once we receive the product we will reimburse you for the total cost of purchase. </p>

</div>

<% include footer %>

    
<!-- END -->



</body>
</html>