<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="../css/shop/landing.css"> -->

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    
    <script src="/js/jquery.scrollify.js"></script>
    <script src="../js/shopLanding.js" /></script>

    <script type="text/javascript">
    // $(function() {
    //     if($("div.mobile").css("display") != "none"){
    //       //   $.scrollify({
    //       //   section : ".mobile",
    //       //   sectionName : "section-name",
    //       //   easing: "easeOutExpo",
    //       //   setHeights: false
    //       // });
    //     }else{
    //       $.scrollify({
    //         section : ".desktop",
    //         sectionName : "section-name",
    //         easing: "easeOutExpo",
    //         setHeights: false
    //       });
    //     }
    //     });
    </script>
    <!-- <script src="../js/parallax.js" /></script> -->
    
    <title>Aesthete | Online Store</title>
</head>

<body>

<% include newsletter %>

<% include header %>

<% include navbar %>

<% include cartTest %>

<div class="hero left mobile" id="feature0M" data-section-name="1">

    <img class ="image1"  src="../images/shop/featured/mobile/0.png" />

</div>

<div class="hero left desktop" id="feature1" data-section-name="1">
    <div class="heroFeature">
        <p class="title">Tee Shirts</p>
        <p class="subtext"><strong>Designed and Handcrafted in San Francisco</strong></br></br>Available in:</br>100% New Zealand Merino Wool</br>100% Organic Cotton
        <p class="closing1"> <span class="closing2">Premium materials — Minimal design</span></p>


        <input class="heroCTA" id="feature1CTA" type="button" value="SHOP TEES" />

    </div>

    <img class ="image1" src="../images/shop/featured/1.png" />
</div>

<div class="hero left mobile" id="feature1M" data-section-name="1">

    <a href="/shop/tees"><img class ="image1"  src="../images/shop/featured/mobile/1.png" /></a>

    <div class="featureOverlay"></div>
</div>

<div class="hero right desktop" id="feature2" data-section-name="2">
    <div class="heroFeature">
        <p class="title">Cashmere Overcoat</p>
        <p class="subtext"><strong>Individually constructed by</br>Master Tailors in New Jersey.</strong></br></br>Pure Cashmere exterior
 </br>Heavy 20mm gauge 100% Silk Lining</p>
        <p class="closing1"> <span class="closing2">No compromises - Simply quality</p>


        <input class="heroCTA" id="feature2CTA" type="button" value="SHOP" />

    </div>

    <img class ="image1" src="../images/shop/featured/2.png" />

    <div class="featureOverlay"></div>
</div>

<div class="hero right mobile" id="feature2M" data-section-name="2">


    <a href="/shop/coats"><img class ="image1"  src="../images/shop/featured/mobile/2.png" /></a>
    <div class="featureOverlay"></div>
</div>

<div class="hero left desktop" id="feature3" data-section-name="3">
    <div class="heroFeature">
        <p class="title">Lace-up Boots</p>
        <p class="subtext"><strong>Crafted by our artisan Bootmakers</br>in Boulder, Colorado.</strong></br></br>
        Tempesti Italian leather upper</br>
        Stacked leather sole</br>
        Authentic blake-welt-stitch
        </p>
        <p class="closing1"> <span class="closing2">Classic design... perfected</span></p>


        <input class="heroCTA" id="feature3CTA" type="button" value="SHOP BOOTS" />

    </div>

    <img class ="image1" src="../images/shop/featured/3.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero left mobile" id="feature3M" data-section-name="3">

    <a href="/shop/boots"><img class ="image1" src="../images/shop/featured/mobile/3.png" /></a>
    <div class="featureOverlay"></div>
</div>

<div class="hero right desktop" id="feature4" data-section-name="4">
    <div class="heroFeature">
        <p class="title">Vintage Capsule</p>
        <p class="subtext"><strong>A hand curated collection of vintage pieces.</strong></br></br>

        Now featuring: Tees and Military Jackets Dated</br>Pre-1970s</p>
        <p class="closing1"> <span class="closing2">Member exclusive</br>Sign up to gain access.</span> </p>


        <% if (!locals.loggedIn){ %>
        <input class="heroCTA" id="feature4CTA" type="button" value="SIGN UP" />
        <% }else{ %>

        <input class="heroCTA" id="feature4CTA" type="button" value="SHOP" />
        <% } %>

    </div>

    <img class ="image1" src="../images/shop/featured/4.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero right mobile" id="feature4M" data-section-name="4">

    <a href="/shop/vintage"><img class ="image1" src="../images/shop/featured/mobile/4.png" /></a>
    <div class="featureOverlay"></div>
</div>

<div class="hero left desktop" id="feature5" data-section-name="5">
    <div class="heroFeature">
        <p class="title">Memberships</p>
        <p class="subtext"><strong>Receive all current and future</br>Member exclusive offers.</strong></br></br><strong>Current offers:</strong></br>Access to our "Vintage Capsule"</p>
        <p class="closing1"> Spaces remaining | <span class="closing2"></span><%= locals.memberCount  %></p>

        <p class="closing1"> <span class="closing2"></span></p>


        <% if (!locals.loggedIn){ %>
        <input class="heroCTA" id="feature5CTA" type="button" value="SIGN UP" />
        <% }else{ %>

        <input class="heroCTA" id="feature5CTA" type="button" value="SHOP" />
        <% } %>

    </div>

    <img class ="image1" src="../images/shop/featured/5.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero left mobile" id="feature5M" data-section-name="5">

    <a href="/shop/vintage"><img class ="image1" src="../images/shop/featured/mobile/5.png" /></a>
    <div class="featureOverlay"></div>
</div>

<div class="hero right desktop" id="feature6" data-section-name="6">
    <div class="heroFeature">
        <p class="title">Our Story</p>
        <p class="subtext"><strong>View the “Inspiration” tab to learn about our…</strong>
        </br></br>Transparent pricing.</br>Materical sourcing.</br>Construction techniques.</br>Manufacturer locations.</p>


        <input class="heroCTA" id="feature6CTA" type="button" value="INSPIRATION" />

    </div>

    <img class ="image1" src="../images/shop/featured/6.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero right mobile" id="feature6M" data-section-name="6">


    <a href="/inspiration"><img class ="image1" src="../images/shop/featured/mobile/6.png" /></a>
    <div class="featureOverlay"></div>
</div>

<% include footer %>

</body>
</html>