<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include header %>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" style = "font-weight: bold;" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="hero right" id="teesFeature1">
    <div class="heroFeature">
        <p class="title">Merino Wool Tees</p>
        <p class="subtext"><strong>100% Merino Wool from New Zealand</strong></br></br>Merino Wool has the smallest threads of any wool…</br>That means no itch.</br></br>Merino Wool contains natural antimicrobials…</br>That means no smell.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input class="heroCTA" id="teesFeature1CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/tees/1.png" />
</div>

<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="teesFeature1CTAMobile" type="button" value="SHOP TEES" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/tees/mobile/1.png" />
</div>

<div class="hero left">
    <div class="heroFeature">
        <p class="title">Organic Cotton Tees</p>
        <p class="subtext"><strong>100% custom developed “heavy” Organic Cotton</strong></br></br>Only 1% of cotton is organic, it’s hard to find…</br>So we developed our own.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input class="heroCTA" id="teesFeature2CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/tees/2.png" />
</div>

<div class="hero left mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="teesFeature2CTAMobile" type="button" value="SHOP TEES" style="margin-top: 165%;"/>

    </div>

    <img class ="image1" src="../images/shop/tees/mobile/2.png" />
</div>

<div class="hero right">
    <div class="heroFeature">
        <p class="title">Organic Cotton Stripes</p>
        <p class="subtext"><strong>Same 100% custom developed Organic Cotton</strong></br></br>Our Organic Cotton in a new light. </br></br> Guaranteed aligned side stripes.</p>
        <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p>


        <input class="heroCTA" id="teesFeature3CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="../images/shop/tees/3.png" />
</div>

<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="teesFeature3CTAMobile" type="button" value="SHOP TEES" style="margin-top: 170%;"/>

    </div>

    <img class ="image1" src="../images/shop/tees/mobile/3.png" />
</div>


<% include footer %>

</body>
</html>