<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="/js/jquery.scrollify.js"></script>
    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete | Tees for Men</title>
</head>

<body>

<% include newsletter %>

<% include header %>

<% include navbar %>

<% include cartTest %>

<div class="hero right desktop" id="teesFeature1" data-section-name="1">
    <div class="heroFeature">
        <p class="title">Merino Wool Tees</p>
        <p class="subtext"><strong>100% Merino Wool from New Zealand</strong></br></br>Merino Wool has the smallest threads of any wool…</br>That means no itch.</br></br>Merino Wool contains natural antimicrobials…</br>That means no smell.</p>
        <p class="closing1"> <span class="closing2"></span></p>


        <input class="heroCTA" id="teesFeature1CTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/tees/1.png" />
</div>

<div class="hero right mobile" id="feature1" >
  

    <a href="/shop/product/wool-tees"><img class ="image1" src="../images/shop/tees/mobile/1.png" /></a>
</div>

<div class="hero left desktop" data-section-name="2">
    <div class="heroFeature">

        <p class="title">Organic Cotton Stripes</p>
        <p class="subtext"><strong>Same 100% custom</br>developed Organic Cotton</strong></br></br>Our Organic Cotton in a new light. </br></br> Guaranteed aligned side stripes.</p>
        <p class="closing1"> <span class="closing2"></span></p>


        <input class="heroCTA" id="teesFeature2CTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/tees/2.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero left mobile" id="feature1" >
 

     <a href="/shop/product/cotton-striped"><img class ="image1" src="../images/shop/tees/mobile/2.png" /></a>
     <div class="featureOverlay"></div>
</div>

<div class="hero right desktop" data-section-name="3">
    <div class="heroFeature">
        <p class="title">Organic Cotton Tees</p>
        <p class="subtext"><strong>100% custom developed “heavy” Organic Cotton</strong></br></br>Only 1% of cotton is organic, it’s hard to find…</br>So we developed our own.</p>
        <p class="closing1"> <span class="closing2"></span></p>


        <input class="heroCTA" id="teesFeature3CTA" type="button" value="SEE MORE" />

    </div>

    <img class ="image1" src="../images/shop/tees/3.png" />
    <div class="featureOverlay"></div>
</div>

<div class="hero right mobile" id="feature1" >
  

     <a href="/shop/product/cotton-tees"><img class ="image1" src="../images/shop/tees/mobile/3.png" /></a>
     <div class="featureOverlay"></div>
</div>


<% include footer %>

</body>
</html>