<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="/css/hero.css">


    <script src="/js/shopLanding.js" /></script>
    
    <title>Aesthete | Curated Vintage Tees for Men and Women</title>
</head>

<body>

<% include header %>

<% include navbar %>

<div class="hero right" id="teesFeature1">
    <div class="heroFeature">
        <p class="title">Francois</p>
        <p class="subtext"><strong>Study: Distant removal of primary and secondary subjects. </p>
        <!-- <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p> -->


        <input class="heroCTA" id="vintageTeesFeature1CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="/images/shop/vintagetees/1.png" />
</div>

<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA" id="vintageTeesFeature1CTAMobile" type="button" value="SHOP TEES" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="/images/shop/vintagetees/mobile/1.png" />
</div>

<div class="hero left">
    <div class="heroFeature">
        <p class="title">Poem</p>
        <p class="subtext"><strong>“The dress is at times,</br>more human</br>than the body;”</br></strong>
        <!-- <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p> -->


        <input class="heroCTA" id="vintageTeesFeature2CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="/images/shop/vintagetees/2.png" />
</div>

<div class="hero left mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA" id="vintageTeesFeature2CTAMobile" type="button" value="SHOP TEES" style="margin-top: 165%;"/>

    </div>

    <img class ="image1" src="/images/shop/vintagetees/mobile/2.png" />
</div>

<div class="hero right">
    <div class="heroFeature">
        <p class="title">Indecision</p>
        <p class="subtext"><strong>With inspiration from simple line drawings and inquisitive body placements.</strong></p>
        <!-- <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p> -->


        <input class="heroCTA" id="vintageTeesFeature3CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="/images/shop/vintagetees/3.png" />
</div>

<div class="hero right mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA" id="vintageTeesFeature3CTAMobile" type="button" value="SHOP TEES" style="margin-top: 170%;"/>

    </div>

    <img class ="image1" src="/images/shop/vintagetees/mobile/3.png" />
</div>

<div class="hero left">
    <div class="heroFeature">
        <p class="title">Je ne sais quoi</p>
        <p class="subtext"><strong>“A quality that cannot be described or easily named.”</strong></p>
        <!-- <p class="closing1"> <span class="closing2">Free shipping and returns for members.</span></p> -->


        <input class="heroCTA" id="vintageTeesFeature4CTA" type="button" value="See More" />

    </div>

    <img class ="image1" src="/images/shop/vintagetees/4.png" />
</div>

<div class="hero left mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA" id="vintageTeesFeature4CTAMobile" type="button" value="SHOP TEES" style="margin-top: 170%;"/>

    </div>

    <img class ="image1" src="/images/shop/vintagetees/mobile/4.png" />
</div>

<% include footer %>

</body>
</html>