<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../css/hero.css">


    <script src="../js/shopLanding.js" /></script>
    
    <title>Aesthete</title>
</head>

<body>

<div class="headerBar" id="headerBar">
    <nav role="navigation">
      <div id="menuToggle">
       
        <input type="checkbox" />
    
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
          <a href="http://aesthete.us/shop"><li>Shop</li></a>
        </ul>
      </div>
    </nav>

    <input class="shop" type="button" value="SHOP" />
    <!-- <input class="inspire" type="button" value="INSPIRATION" /> -->


    <input class="logo" id="headerLogo" type="image" src="../images/header/logo.png"/>


    <input class="cart" id="shoppingBag" type="image" src="../images/header/shoppingBag.png"/>

    <!-- <input class="login" id="login" type="button" value="LOGIN" />
    <input class="signup" id="signUp" type="button" value="SIGN UP" /> -->


</div>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" id="coatsButton" type="button" value="COATS" />
    <input class="vintageButton" style = "font-weight: bold;"  id="vintageButton" type="button" value="VINTAGE" />
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>


<div class="heroText vintage">

    <div class="heroTextContainer">
        <p class="title"> Vintage Capsule Collection</p>
        <p class="subtext">We sorted through thousands of vintage garments and have brought you only what we feel were the absolute best. Our aim is to display the imperfections and distressings that can only be achieved in an authentic way with time.</p>

        <input id="vintageFeature1CTA" type="button" value="Explore >"/>

        <p class="subtext2">No two pieces are alike, you will receive the exact garment that you purchase. Size and consistency varries from garment to garment by nature. </p>
    </div>

    <img id="vintageFeaturedHeader" class ="image1" src="../images/shop/vintage/1.png" />
</div>

<div class="hero right" id="vintageFeature2">
    <div class="heroFeature">
        <p class="title">Vintage Tees</p>
        <p class="subtext">Authentic vintage tees dating pre-1980’s.</br></br>From thousands of tees we’ve hand</br>selected and curated only the best 120.</p>
        <p class="closing1"> <span class="closing2">Pick the exact Tee you want. </span></p>


        <input id="vintageFeature2CTA" class="heroCTA" type="button" value="Coming Soon" />

    </div>

    <img class ="image1" src="../images/shop/vintage/2.png" />
</div>

<div class="hero right mobile" id="vintageFeatureHeaderMobile" >
    <div class="heroFeature">
        


    </div>

    <img class ="image1" src="../images/shop/vintage/mobile/1.png" />
</div>

<div class="hero left">
    <div class="heroFeature">
        <p class="title">Vintage Parka</p>
        <p class="subtext">Authentic vintage jackets dating pre-1980’s</br></br>From hundred of jackets we’ve hand</br>selected and curated only the best 14.</p>
        <p class="closing1"> <span class="closing2">Pick the exact jacket you want.</span></p>


        <input id="vintageFeature3CTA" id="bootsFeature2CTA" class="heroCTA" type="button" value="Coming Soon" />

    </div>

    <img class ="image1" src="../images/shop/vintage/3.png" />
</div>

<div class="hero right mobile" id="vintageFeature2Mobile" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="vintageFeature1CTAMobile" type="button" value="COMING SOON" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/vintage/mobile/2.png" />
</div>

<div class="hero left mobile" id="feature1" >
    <div class="heroFeature">
        

        <input class="heroCTA white" id="vintageFeature2CTAMobile" type="button" value="Coming Soon" style="margin-top: 185%;"/>

    </div>

    <img class ="image1" src="../images/shop/vintage/mobile/3.png" />
</div>



<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" />
        <input class="membership" type="button" value="Terms Of Use" />
        <input class="membership" type="button" value="Privacy Policy" />
        <input class="membership" type="button" value="Return Policy" />
        <input class="membership" type="button" value="Contact Us" />
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="../images/footer/social/instaIcon.png"/>
        <input class="mailIcon" type="image" src="../images/footer/social/mailIcon.png"/>
        <input class="twitterIcon" type="image" src="../images/footer/social/twitterIcon.png"/>
        <input class="faceBookIcon" type="image" src="../images/footer/social/facebookIcon.png"/>
    </div>

</div>

</body>
</html>