<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">


    <link rel="stylesheet" type="text/css" href="../../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../../css/subproducthero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../../js/shopLanding.js"></script>
    <script src="../../../js/grid.js"></script>
    <script src="../../../js/gallery.js"></script>
    <script src="../../../js/checkout.js"></script>
    <script src="../../../js/variants/cuff.js"></script>
    
    <title>Aesthete | Steel Alloy Bracelets for Men and Women</title>
</head>

<body>

<% include ../../newsletter %>

<% include ../../header %>


<div class="hero cuff" id="feature1">
    <div class="heroFeature" id="feature12">

    

        <div class="contents" id="0">
            <div class = "priceDetailsCuff mobile">
                <p class="price">$50</p>
            </div>

            <div class="heroCart cuffHeroCart" id="10048761224">

                <input class="heroCartAddCTA" id="minusButton" type="button" value="-"/>&nbsp;<span id="cartCounter">1</span>&nbsp;<input class="heroCartAddCTA" id="addButton" type="button" value="+"/><input class="heroCTA black" id="addToCart" type="button" value="ADD TO CART"/></br><span id="added" style="opacity:0.0;">Added</span>
            </div>



                    <p class="priceSubtext mobile">Includes sales tax, shipping, and returns.</p>

            <div class = "priceDetailsCuff nonmobile">

                
                    <p class="priceSubtext">Includes sales tax, shipping, and returns.</p>
                <p class="price">$50</p>
            </div>
            <div class="variantChoices">
                <input id="variant1" class = "10" type="image" src = "../../../images/shop/product/cuff/variants/black.png"/>
                <input id="variant2" type="image" src = "../../../images/shop/product/cuff/variants/gold.png"/>
                <input id="variant3" type="image" src = "../../../images/shop/product/cuff/variants/silver.png"/>
            </div>
        </div>

    </div>


   

    <img class ="image1 nonmobile" id="firstImage" src="../../../images/shop/product/cuff/variants/black/1.png" />
    <img class ="image1 mobile" id="firstImageMobile" src="../../../images/shop/product/cuff/variants/black/mobile/1.png" />
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth lock" id="woolFeature">
    <div class="productDetailMain" id ="productDetailGallery11">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
</br></br>
We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <!-- <input class ="info" id="infoButton11"  type="image" src="../../../images/shop/product/infoButton.png"/> -->
    <img class ="image1" id="secondImage" src="../../../images/shop/product/cuff/variants/black/2.png" />
</div>

<div class="gallery fullwidth lock" id="woolFeature">
    <div class="productDetailMainBottom" id ="productDetailGallery12">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
        We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
        </br></br>
        We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <!-- <input class ="info" id="infoButton12"  type="image" src="../../../images/shop/product/infoButton.png"/> -->
    <img class ="image1" id="thirdImage" src="../../../images/shop/product/cuff/variants/black/3.png" />
</div>


<% include ../../footer %>

</body>
</html>