<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/gallery2.css">
    <link rel="stylesheet" type="text/css" href="../../../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../../../css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../../js/shopLanding.js"></script>
    <script src="../../../js/grid.js"></script>
    <script src="../../../js/gallery.js"></script>
    <script src="../../../js/checkout.js"></script>
    <script src="../../../js/variants/cuff.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<div class="headerBar" id="headerBar">
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
          <a href="http://aesthete.us/shop"><li>Shop</li></a>
        </ul>
      </div>
    </nav>

    <input class="shop" type="button" value="SHOP" />
    <!-- <input class="inspire" type="button" value="INSPIRATION" /> -->


    <input class="logo" id="headerLogo" type="image" src="../../../images/header/logo.png"/>


    <input class="cart" id="shoppingBag" type="image" src="../../../images/header/shoppingBag.png"/>

    <!-- <input class="login" id="login" type="button" value="LOGIN" />
    <input class="signup" id="signUp" type="button" value="SIGN UP" /> -->


</div>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton"  id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" style = "font-weight: bold;" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="hero center lock" id="feature1">
    <div class="heroFeature black cuffFeature" >
        <p class="title" id="productTitle">Black</p>
        <p class="subtext2 subtext2Cuff">Cuff Bracelet</p>
        <p class="closing1"> <span class="closing2"></span></p>

    

        <div class = "priceDetailsCuff">

            <p class="price">$55&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p class="priceSubtextCuff">Includes sales tax, shipping, and returns.</p>
        </div>
        <div class="heroCart cuffHeroCart" id="10245006856">

            <input class="heroCartAddCTA" id="minusButton" type="button" value="-"/>&nbsp;<span id="cartCounter">0</span>&nbsp;<input class="heroCartAddCTA" id="addButton" type="button" value="+"/><input class="heroCTA black" id="addToCart" type="button" value="ADD TO CART >"/>
        </div>



    </div>


      <div class="variantChoices cuffVariant">
        <input id="variant1" class = "10" type="image" src = "../../../images/shop/product/wooltees/variants/black.png"/>
        <input id="variant2" type="image" src = "../../../images/shop/product/wooltees/variants/white.png"/>
        <input id="variant3" type="image" src = "../../../images/shop/product/wooltees/variants/green.png"/>
    </div>

    <img class ="image1" id="firstImage" src="../../../images/shop/product/cuff/variants/black/1.png" />
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailMain" id ="productDetailGallery11">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
</br></br>
We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <input class ="info" id="infoButton11"  type="image" src="../../../images/shop/product/infoButton.png"/>
    <img class ="image1" id="secondImage" src="../../../images/shop/product/cuff/variants/black/2.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailMainBottom" id ="productDetailGallery12">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
        We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
        </br></br>
        We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <input class ="info" id="infoButton12"  type="image" src="../../../images/shop/product/infoButton.png"/>
    <img class ="image1" id="thirdImage" src="../../../images/shop/product/cuff/variants/black/3.png" />
</div>


<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" />
        <input class="membership" type="button" value="Terms Of Use" />
        <input class="membership" type="button" value="Privacy Policy" />
        <input class="membership" type="button" value="Return Policy" />
        <input class="membership" type="button" value="Contact Us" />
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="../../../images/footer/social/instaIcon.png"/>
        <input class="mailIcon" type="image" src="../../../images/footer/social/mailIcon.png"/>
        <input class="twitterIcon" type="image" src="../../../images/footer/social/twitterIcon.png"/>
        <input class="faceBookIcon" type="image" src="../../../images/footer/social/facebookIcon.png"/>
    </div>

</div>

</body>
</html>