<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../../css/subproducthero.css">
    <link rel="stylesheet" type="text/css" href="/css/globalanimations.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../../js/shopLanding.js"></script>
    <script src="../../../js/grid.js"></script>
    <script src="../../../js/gallery.js"></script>
    <script src="../../../js/checkout.js"></script>
    <script src="../../../js/variants/wooltees.js"></script>
    
    <title>Aesthete | 100% Merino Wool Tees</title>
</head>

<body>

<% include ../../newsletter %>

<% include ../../header %>


<div class="alert" id="alert"> </div>

<div class="hero" >

    <div class="heroFeature" id="feature12">
 
        <div class="heroActions">

            <div class = "priceDetails">

                <p class="price">$95</p>
                
                    <p class="priceSubtext">Includes sales tax, shipping, and returns.</p>
            </div>

            <div class="productSpecificSizes" id="mainProductSize">
                <input id="productSizeSButton1" class = "8" type="button" value="S"/>
                <input id="productSizeMButton1" class = "9" type="button" value="M"/>
                <input id="productSizeLButton1" class = "10" type="button" value="L"/>
                <input id="productSizeXLButton1" class = "11" type="button" value="XL"/>

            </div>


                <div class="heroCart" id="10245006856">
                    <input class="heroCartAddCTA" id="minusButton" type="button" value="-" />&nbsp;<span id="cartCounter" >1</span>&nbsp;<input class="heroCartAddCTA" id="addButton" type="button" value="+" /><input class="heroCTA black" id="addToCart" type="button" value="ADD TO CART" /></br><span id="added" style="opacity:0.0;">Added</span>
                    
                    <p class="priceSubtext mobile">Includes sales tax, shipping, and returns.</p>
                </div>

            


        
            <div class="variantChoices">
                <input id="variant1" class = "10" type="image" src = "../../../images/shop/product/wooltees/variants/black.png"/>
                <input id="variant2" type="image" src = "../../../images/shop/product/wooltees/variants/white.png"/>
                <input id="variant3" type="image" src = "../../../images/shop/product/wooltees/variants/green.png"/>
                <input id="variant4" type="image" src = "../../../images/shop/product/wooltees/variants/heather.png"/>
                <input id="variant5" type="image" src = "../../../images/shop/product/wooltees/variants/blue.png"/>
                <input id="variant6" type="image" src = "../../../images/shop/product/wooltees/variants/charcoal.png"/>
            </div>
        </div> 



    </div>



    <img class ="image1 mobile" id ="firstImageMobile" src="../../../images/shop/product/wooltees/variants/navy/mobile/1.png" />
    <img class ="image1 nonmobile" id ="firstImage" src="/images/shop/product/wooltees/variants/navy/1.png" />
    
    <!-- <img class ="image1" id="firstImage" src= /> -->

</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth mobile" id="woolFeature">
    <div class="productDetailMain" id ="productDetailGallery11">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
</br></br>
We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <img class ="image1" id="secondImageMobile" src="../../../images/shop/product/wooltees/variants/navy/mobile/2.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailMain" id ="productDetailGallery11">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
</br></br>
We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <img class ="image1" id="secondImage" src="../../../images/shop/product/wooltees/variants/navy/2.png" />
</div>


<div class="gallery fullwidth mobile" id="woolFeature">
    <div class="productDetailMain" id ="productDetailGallery11">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
</br></br>
We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <img class ="image1" id="thirdImageMobile" src="../../../images/shop/product/wooltees/variants/navy/mobile/3.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailMainBottom" id ="productDetailGallery12">
        <p class="headerDetail"> Construction: </p>

        <div class="spacer"></div>

        <p class="descDetail">We sourced hundreds of samples before we found our perfect 100% Merino Wool.
        We spent months developing and refining our pattern and construction approach until we found a cut that felt truly perfect.
        </br></br>
        We manufacture all of our Tee’s by hand in San Francisco, California. We constantly oversee production to examine quality and observe the process to ensure that the finished product is of the absolute highest quality.</p>

        
    </div>

    <img class ="image1" id="thirdImage" src="../../../images/shop/product/wooltees/variants/navy/3.png" />
</div>


<% include ../../footer %>

</body>
</html>