<!DOCTYPE html>
<!--      
     /\  \         /\  \         /\  \         /\  \         /\__\    
    /::\  \       /::\  \       /::\  \        \:\  \       /:/  /    
   /:/\:\  \     /:/\:\  \     /:/\ \  \        \:\  \     /:/__/     
  /::\~\:\  \   /::\~\:\  \   _\:\~\ \  \       /::\  \   /::\  \ ___ 
 /:/\:\ \:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\     /:/\:\__\ /:/\:\  /\__\
 \/__\:\/:/  / \:\~\:\ \/__/ \:\ \:\ \/__/    /:/  \/__/ \/__\:\/:/  /
      \::/  /   \:\ \:\__\    \:\ \:\__\     /:/  /           \::/  / 
      /:/  /     \:\ \/__/     \:\/:/  /     \/__/            /:/  /  
     /:/  /       \:\__\        \::/  /                      /:/  /   
     \/__/         \/__/         \/__/                       \/__/    
      ___           ___           ___     
     /\  \         /\  \         /\  \    
    /::\  \        \:\  \       /::\  \   
   /:/\:\  \        \:\  \     /:/\:\  \  
  /::\~\:\  \       /::\  \   /::\~\:\  \ 
 /:/\:\ \:\__\     /:/\:\__\ /:/\:\ \:\__\
 \:\~\:\ \/__/    /:/  \/__/ \:\~\:\ \/__/
  \:\ \:\__\     /:/  /       \:\ \:\__\  
   \:\ \/__/     \/__/         \:\ \/__/  
    \:\__\                      \:\__\    Designed By: Dustin Simantob
     \/__/                       \/__/    Developed By: Ritesh Pakala
                                          Emotional Support By: Ian Reid-->
                                          
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../css/hero.css">

    <script src="http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../js/shopLanding.js"></script>
    <script src="../../js/grid.js"></script>
    <script src="../../js/gallery.js"></script>
    <script src="../../js/checkout.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<% include ../header %>

<% include ../navbar %>

<div class="hero center" id="feature1">
    <div class="heroFeature">
        <p class="title">Cuff Bracelet</p>
        <p class="subtext"></p>
        <p class="closing1"> <span class="closing2"></span></p>


        <input class="heroCTA" type="button" value="COLORS AND DETAILS >" />

    </div>

    <img class ="image1" src="../../images/shop/product/wooltees/1.png" />
</div>

<div class="grid">
    <div class="row3">
        <div class="module">
            <div class="productDetailGrid" id="productDetailGrid1">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" type="button" value="S"/>

                    <input id="productSizeMButton1" type="button" value="M"/>

                    <input id="productSizeLButton1" type="button" value="L"/>
                    <input id="productSizeXLButton1" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Product Color Name</span>
                </div>
                
            </div>

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/navy"<span class="title">100% Wool Tee</span> <span class="variant">Navy</span> | <span class="price">$100</span></a>
                    <p class="subtext">100% Merino Wool Tee. Designed and produced in San Francisco, California. All pricing based on account membership and includes sales tax, free shipping and returns.</p>
                </div>

                <input class ="addToCart" id="cartGrid1" type="image" src="../../images/shop/product/addToCart.png" />
            </div>
        </div>
        <div class="module">
            <div class="productDetailGrid" id="productDetailGrid2">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" type="button" value="S"/>

                    <input id="productSizeMButton1" type="button" value="M"/>

                    <input id="productSizeLButton1" type="button" value="L"/>
                    <input id="productSizeXLButton1" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Product Color Name</span>
                </div>
            </div>

            <div class="detail">
                <div class="info">
                    <span class="title">100% Wool Tee</span> <span class="variant">Heather Grey</span> | <span class="price">$100</span>
                    <p class="subtext">100% Merino Wool Tee. Designed and produced in San Francisco, California. All pricing based on account membership and includes sales tax, free shipping and returns.</p>
                </div>

               
                <input class ="addToCart" id="cartGrid2" type="image" src="../../images/shop/product/addToCart.png" />
                
            </div>
        </div>
        <div class="module">
            <div class="productDetailGrid" id="productDetailGrid3">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" type="button" value="S"/>

                    <input id="productSizeMButton1" type="button" value="M"/>

                    <input id="productSizeLButton1" type="button" value="L"/>
                    <input id="productSizeXLButton1" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Product Color Name</span>
                </div>
            </div>

            <div class="detail">
                <div class="info">
                    <span class="title">100% Wool Tee</span> <span class="variant">Heather Grey</span> | <span class="price">$100</span>
                    <p class="subtext">100% Merino Wool Tee. Designed and produced in San Francisco, California. All pricing based on account membership and includes sales tax, free shipping and returns.</p>
                </div>

               
                <input class ="addToCart" id="cartGrid3" type="image" src="../../images/shop/product/addToCart.png" />
                
            </div>
        </div>
    </div>
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id="productDetailGallery1">
        <p class="headerDetail"> Full Product Name | $Price </p>

        <div class="spacer"></div>

        <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" type="button" value="S"/>

                    <input id="productSizeMButton1" type="button" value="M"/>

                    <input id="productSizeLButton1" type="button" value="L"/>
                    <input id="productSizeXLButton1" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Product Color</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton1"  type="image" src="../../images/shop/product/infoButton.png"/>
    <!-- <img class ="image1" src="../../images/shop/product/wooltees/2.png" /> -->
</div>

<div class="gallery grid">
    <div class="gallery leftMin">
         <div class="productDetailGallery" id="productDetailGallery2">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>

        <input class ="info" id="infoButton2"  type="image" src="../../images/shop/product/infoButton.png"/>
    </div>

    <div class="gallery rightDom">
        <div class="productDetailGallery" id="productDetailGallery3">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>

        <input class ="info" id="infoButton3"  type="image" src="../../images/shop/product/infoButtonWhite.png"/>
    </div>
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id="productDetailGallery4">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton4"  type="image" src="../../images/shop/product/infoButton.png"/>
    <!-- <img class ="image1" src="../../images/shop/product/wooltees/2.png" /> -->
</div>

<div class="gallery grid">
    <div class="gallery leftDom">
        <div class="productDetailGallery" id="productDetailGallery5">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>

        <input class ="info" id="infoButton5"  type="image" src="../../images/shop/product/infoButton.png"/>
    </div>

    <div class="gallery rightMin">
        <div class="productDetailGallery" id="productDetailGallery6">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>

        <input class ="info" id="infoButton6"  type="image" src="../../images/shop/product/infoButton.png"/>
    </div>
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id="productDetailGallery7">
            <p class="headerDetail"> Full Product Name | $Price </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGrid5Final" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton1" type="button" value="S"/>

                        <input id="productSizeMButton1" type="button" value="M"/>

                        <input id="productSizeLButton1" type="button" value="L"/>
                        <input id="productSizeXLButton1" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Product Color</span>
                    </div>
                    
            </div>
         </div>
         
    <input class ="info" id="infoButton7"  type="image" src="../../images/shop/product/infoButton.png"/>
    <!-- <img class ="image1" src="../../images/shop/product/wooltees/2.png" /> -->
</div>

<% include ../footer %>

</body>
</html>