<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../js/shopLanding.js"></script>
    <script src="../../js/grid.js"></script>
    <script src="../../js/gallery.js"></script>
    <script src="../../js/checkout.js"></script>
    
    <title>Aesthete | Steel Alloy Bracelet for Men and Women</title>
</head>

<body>

<% include ../newsletter %>

<% include ../header %>

<% include ../navbar %>


<% include ../cartTest %>

<div class="hero center heroProductPage" id="feature1">
    <div class="heroFeature">
        <p class="title">Cuff Bracelet</p>
        <p class="subtext"></p>
        <p class="closing1"> <span class="closing2"></span></p>

    </div>

    <img class ="image1" src="../../images/shop/product/cuff/1.png" />
</div>

<div class="hero mobileProductPage" id="feature1">

    <img class ="image1" src="../../images/shop/product/cuff/mobile/1.png" />
</div>

<div class="grid">
    <div class="row3">
        <div class="module">

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/cuff/main:blackcuff"><span class="title">Cuff Bracelet</span> <span class="variant">&nbsp;&nbsp;Black |</span>&nbsp;&nbsp;<span class="price">$50</span></a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Steel Alloy cuff bracelet.</span></p>
                </div>

                <input class ="addToCart" id="cartGrid1" type="image" src="../../images/shop/product/closeCart.png" />
            </div>
           <a href="/shop/product/cuff/main:blackcuff"><img src="/images/shop/product/cuff/color1.jpg"></img></a>
        </div>
        <div class="module">
            

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/cuff/main:goldcuff"><span class="title">Cuff Bracelet</span> <span class="variant">&nbsp;&nbsp;Gold |</span>&nbsp;&nbsp;<span class="price">$50</span></a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Steel Alloy cuff bracelet.</span></p>
                </div>

               
                <input class ="addToCart" id="cartGrid2" type="image" src="../../images/shop/product/closeCart.png" />
                
            </div>

            <a href="/shop/product/cuff/main:goldcuff"><img src="/images/shop/product/cuff/color2.jpg"></img></a>
        </div>
        <div class="module">

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/cuff/main:silvercuff"><span class="title">Cuff Bracelet</span> <span class="variant">&nbsp;&nbsp;Silver |</span>&nbsp;&nbsp;<span class="price">$50</span></a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Steel Alloy cuff bracelet.</span></p>
                </div>

                

                <input class ="addToCart" id="cartGrid3" type="image" src="../../images/shop/product/closeCart.png" />
            </div>


            <a href="/shop/product/cuff/main:silvercuff"><img src="/images/shop/product/cuff/color3.jpg"></img></a>
        </div>
    </div>
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery4" >
        <p class="headerDetail"> Cuff Bracelet | $50 </p>

        <div class="spacer"></div>

        <p class="descDetail">Steel Alloy.</br>Clean and Minimal.</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal4" class="10048761224" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton4" class ="2" type="button" value="O"/>

                </div>

                <div class="title">
                <span>Silver</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton4"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/cuff/2.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery5" >
        <p class="headerDetail"> Cuff Bracelet | $50 </p>

        <div class="spacer"></div>

        <p class="descDetail">Steel Alloy.</br>Clean and Minimal.</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal5" class ="10048761224" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton5" class ="0" type="button" value="O"/>
                </div>

                <div class="title">
                <span>Black</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton5"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/cuff/main:blackcuff"><img class ="image1" src="../../images/shop/product/cuff/3.png" /></a>
</div>



<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery6">
            <p class="headerDetail"> Cuff Bracelet | $50 </p>

            <div class="spacer"></div>

            <p class="descDetail">Steel Alloy.</br>Clean and Minimal.</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal6" class ="10048761224" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton6" class ="2" type="button" value="O"/>

                    </div>

                    <div class="title">
                    <span>Silver</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton6"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/cuff/main:silvercuff"><img class ="image1" src="../../images/shop/product/cuff/4.png" /></a>
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery7">
            <p class="headerDetail"> Cuff Bracelet | $50 </p>

            <div class="spacer"></div>

            <p class="descDetail">Steel Alloy.</br>Clean and Minimal.</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal7" class ="10048761224" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton7" class ="0" type="button" value="O"/>

                    </div>

                    <div class="title">
                    <span>Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton7"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/cuff/main:blackcuff"><img class ="image1" src="../../images/shop/product/cuff/5.png" /></a>
</div>


<% include ../footer %>

</body>
</html>