<!DOCTYPE html>
<!--      
     /\  \         /\  \         /\  \         /\  \         /\__\    
    /::\  \       /::\  \       /::\  \        \:\  \       /:/  /    
   /:/\:\  \     /:/\:\  \     /:/\ \  \        \:\  \     /:/__/     
  /::\~\:\  \   /::\~\:\  \   _\:\~\ \  \       /::\  \   /::\  \ ___ 
 /:/\:\ \:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\     /:/\:\__\ /:/\:\  /\__\
 \/__\:\/:/  / \:\~\:\ \/__/ \:\ \:\ \/__/    /:/  \/__/ \/__\:\/:/  /
      \::/  /   \:\ \:\__\    \:\ \:\__\     /:/  /           \::/  / 
      /:/  /     \:\ \/__/     \:\/:/  /     \/__/            /:/  /  
     /:/  /       \:\__\        \::/  /                      /:/  /   
     \/__/         \/__/         \/__/                       \/__/    
      ___           ___           ___     
     /\  \         /\  \         /\  \    
    /::\  \        \:\  \       /::\  \   
   /:/\:\  \        \:\  \     /:/\:\  \  
  /::\~\:\  \       /::\  \   /::\~\:\  \ 
 /:/\:\ \:\__\     /:/\:\__\ /:/\:\ \:\__\
 \:\~\:\ \/__/    /:/  \/__/ \:\~\:\ \/__/
  \:\ \:\__\     /:/  /       \:\ \:\__\  
   \:\ \/__/     \/__/         \:\ \/__/  
    \:\__\                      \:\__\    Designed By: Dustin Simantob
     \/__/                       \/__/    Developed By: Ritesh Pakala
                                          Emotional Support By: Ian Reid-->
                                          
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/shop/header.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/navBar.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/gallery2.css">
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">

    <link rel="stylesheet" type="text/css" href="../../css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../js/shopLanding.js"></script>
    <script src="../../js/grid.js"></script>
    <script src="../../js/gallery.js"></script>
    <script src="../../js/checkout.js"></script>
    
    <title>Aesthete</title>
</head>

<body>

<div class="headerBar" id="headerBar">
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
          <a href="http://aesthete.us/shop"><li>Shop</li></a>
        </ul>
      </div>
    </nav>

    <input class="shop" type="button" value="SHOP" />
    <!-- <input class="inspire" type="button" value="INSPIRATION" /> -->


    <input class="logo" id="headerLogo" type="image" src="../../images/header/logo.png"/>


    <input class="cart" id="shoppingBag" type="image" src="../../images/header/shoppingBag.png"/>

    <!-- <input class="login" id="login" type="button" value="LOGIN" />
    <input class="signup" id="signUp" type="button" value="SIGN UP" /> -->


</div>

<div class="navBar">
    <input class="featuredButton" id = "featuredButton" type="button" value="FEATURED" />
    <input class="teesButton" id = "teesButton" type="button" value="TEES" />
    <input class="bootsButton" id="bootsButton" type="button" value="BOOTS" />
    <input class="coatsButton" style = "font-weight: bold;" id="coatsButton" type="button" value="COATS" />
    <!-- <input class="vintageButton" id="vintageButton" type="button" value="VINTAGE" /> -->
    <input class="accessoriesButton" id="accessoriesButton" type="button" value="ACCESSORIES" />
</div>

<div class="hero center heroProductPage" id="feature1">
    <div class="heroFeature">
        <p class="title">Overcoat</p>
        <p class="subtext"></p>
        <p class="closing1"> <span class="closing2"></span></p>


        <input class="heroCTA" type="button" value="COLORS AND DETAILS >" />

    </div>

    <img class ="image1" src="../../images/shop/product/overcoat/1.png" />
</div>

<div class="hero mobileProductPage" id="feature1">

    <img class ="image1" src="../../images/shop/product/overcoat/mobile/1.png" />
</div>

<div class="grid">
    <div class="row2">
        <div class="module" style="background-image: url('../../images/shop/product/overcoat/color1.png')">
            <div class="productDetailGrid" id = "productDetailGrid1">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal1" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton1" class="8" type="button" value="S"/>

                    <input id="productSizeMButton1" class="9" type="button" value="M"/>

                    <input id="productSizeLButton1" class="10" type="button" value="L"/>
                    <input id="productSizeXLButton1" class="11" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Heather Grey</span>
                </div>
                
            </div>

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/overcoat/main"><span class="title">Cashmere Angora Overcoat</span> <span class="variant">&nbsp;&nbsp;Heather Grey</span> | <span class="price">Coming Soon</span></a>
                    <p class="subtext">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>
                </div>

                <!-- <input class ="addToCart" id="cartGrid1" type="image" src="../../images/shop/product/addToCart.png" /> -->
            </div>

        </div>
        <div class="module" style="background-image: url('../../images/shop/product/overcoat/color2.png')">
            <div class="productDetailGrid" id = "productDetailGrid2">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal2" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton2" class="0" type="button" value="S"/>

                    <input id="productSizeMButton2" class="1" type="button" value="M"/>

                    <input id="productSizeLButton2" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton2" class="3" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Midnight Black</span>
                </div>
            </div>

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/overcoat/main"><span class="title">Pure Cashmere Overcoat</span> <span class="variant">&nbsp;&nbsp;Midnight Black</span> | <span class="price">$875</span></a>
                    <p class="subtext">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>
                </div>

               
                <input class ="addToCart" id="cartGrid2" type="image" src="../../images/shop/product/addToCart.png" />
                
            </div>
        </div>
    </div>
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery1" >
        <p class="headerDetail"> Cashmere Overcoat | $875 </p>

        <div class="spacer"></div>

        <p class="descDetail">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal3" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton3" class="0" type="button" value="S"/>

                    <input id="productSizeMButton3" class="1" type="button" value="M"/>

                    <input id="productSizeLButton3" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton3" class="3" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Midnight Black</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton1"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/overcoat/2.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery2" >
        <p class="headerDetail"> Cashmere Overcoat | $875 </p>

        <div class="spacer"></div>

        <p class="descDetail">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal4" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton4" class="0" type="button" value="S"/>

                    <input id="productSizeMButton4" class="1" type="button" value="M"/>

                    <input id="productSizeLButton4" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton4" class="3" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Midnight Black</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton2"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/overcoat/3.png" />
</div>



<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery4">
            <p class="headerDetail"> Cashmere Coat | $875 </p>

            <div class="spacer"></div>

            <p class="descDetail">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal5" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton5" class="0" type="button" value="S"/>

                    <input id="productSizeMButton5" class="1" type="button" value="M"/>

                    <input id="productSizeLButton5" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton5" class="3" type="button" value="XL"/>
                </div>

                    <div class="title">
                    <span>Midnight Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton4"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/overcoat/4.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery5">
            <p class="headerDetail"> Cashmere Coat | $875 </p>

            <div class="spacer"></div>

            <p class="descDetail">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal6" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton6" class="0" type="button" value="S"/>

                    <input id="productSizeMButton6" class="1" type="button" value="M"/>

                    <input id="productSizeLButton6" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton6" class="3" type="button" value="XL"/>
                </div>

                    <div class="title">
                    <span>Midnight Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton5"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/overcoat/5.png" />
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery7">
            <p class="headerDetail"> Cashmere Coat | $875 </p>

            <div class="spacer"></div>

            <p class="descDetail">100% premium Cashmere Exterior. 20mm gauge authentic Silk Lining. A timeless staple piece of our brand.</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal7" class="10245133064" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton7" class="0" type="button" value="S"/>

                    <input id="productSizeMButton7" class="1" type="button" value="M"/>

                    <input id="productSizeLButton7" class="2" type="button" value="L"/>
                    <input id="productSizeXLButton7" class="3" type="button" value="XL"/>
                </div>

                    <div class="title">
                    <span>Midnight Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton7"  type="image" src="../../images/shop/product/infoButton.png"/>
    <img class ="image1" src="../../images/shop/product/overcoat/6.png" />
</div>

<div class="footer">

    <div class="nav">
        <input class="membership" type="button" value="Membership" />
        <input class="membership" type="button" value="Terms Of Use" />
        <input class="membership" type="button" value="Privacy Policy" />
        <input class="membership" type="button" value="Return Policy" />
        <input class="membership" type="button" value="Contact Us" />
    </div>

    <div class="social">
        <input class="instaIcon" type="image" src="../../images/footer/social/instaIcon.png"/>
        <input class="mailIcon" type="image" src="../../images/footer/social/mailIcon.png"/>
        <input class="twitterIcon" type="image" src="../../images/footer/social/twitterIcon.png"/>
        <input class="faceBookIcon" type="image" src="../../images/footer/social/facebookIcon.png"/>
    </div>

</div>

</body>
</html>