<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="/css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="/css/subproducthero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="/js/shopLanding.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/checkout.js"></script>
    <script src="/js/variants/tote.js"></script>
    
    <title>Aesthete | Organic Canvas Tote Bag for Daily Use</title>
</head>

<body>

<% include ../newsletter %>

<% include ../header %>


<% include ../cartTest %>

<div class="hero tote" id="feature1">
    <div class="heroFeature" id="feature12">

                
            <div class="heroCart cuffHeroCart" id="10592582408">
                <p class="price">$35</p>
                <% if (locals.loggedIn){ %>
                <p class="priceSubtext">Includes sales tax, shipping, and returns.</p>
                <p class="priceSubtext mobile">Includes sales tax, shipping, and returns.</p>
                <% }else{ %>
                <p class="priceSubtext">Includes sales tax</p>

                <p class="priceSubtext mobile">Includes sales tax</p>
                <% } %>

                <input class="heroCartAddCTA" id="minusButton" type="button" value="-"/>&nbsp;<span id="cartCounter">1</span>&nbsp;<input class="heroCartAddCTA" id="addButton" type="button" value="+"/><input class="heroCTA black" id="addToCart" type="button" value="ADD TO CART"/></br><span id="added" style="opacity:0.0;">ADDED</span>
            </div>

    </div>

    <img class ="image1 mobile" id ="firstImageMobile" src="/images/shop/product/tote/mobile/1.png" />
    <img class ="image1 nonmobile" id ="firstImage" src="/images/shop/product/tote/1.png" />
</div>

<!-- <div class="hero mobileProductPage" id="feature1">

    <img class ="image1" src="/images/shop/product/tote/mobile/1.png" />
</div> -->

<div class="gallery fullwidth mobile" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery4">
            <p class="headerDetail"> Wool Tee | $120 </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal9"  class="10245006856" type="image" src="/images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton9" class="16" type="button" value="S"/>

                        <input id="productSizeMButton9" class="17" type="button" value="M"/>

                        <input id="productSizeLButton9" class="18" type="button" value="L"/>
                        <input id="productSizeXLButton9" class="19" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Military Green</span>
                    </div>
                    
            </div>
         </div>

    <img class ="image1" src="/images/shop/product/tote/mobile/2.png" />
</div>

<div class="gallery fullwidth nonmobile" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery2" >
        <p class="headerDetail"> Wool Tee | $120 </p>

        <div class="spacer"></div>

        <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal8"  class="10245006856" type="image" src="/images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton8" class="16" type="button" value="S"/>

                    <input id="productSizeMButton8" class="17" type="button" value="M"/>

                    <input id="productSizeLButton8" class="18" type="button" value="L"/>
                    <input id="productSizeXLButton8" class="19" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Military Green</span>
                </div>
                
        </div>
    </div>

    <img class ="image1" src="/images/shop/product/tote/2.png" />
</div>



<div class="gallery fullwidth mobile" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery4">
            <p class="headerDetail"> Wool Tee | $120 </p>

            <div class="spacer"></div>

            <p class="descDetail">100% Organic Cotton Stripe Tee. Inspired by nautical stuff and other things boat like. Hand made in small batches in the USA. Learn More</p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal9"  class="10245006856" type="image" src="/images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton9" class="16" type="button" value="S"/>

                        <input id="productSizeMButton9" class="17" type="button" value="M"/>

                        <input id="productSizeLButton9" class="18" type="button" value="L"/>
                        <input id="productSizeXLButton9" class="19" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Military Green</span>
                    </div>
                    
            </div>
         </div>

    <img class ="image1" src="/images/shop/product/tote/mobile/3.png" />
</div>

<div class="gallery fullwidth nonmobile" id="woolFeature">
    

    <img class ="image1" src="/images/shop/product/tote/3.png" />
</div>


<% include ../footer %>

</body>
</html>