<!DOCTYPE html>
<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->
<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/logos/preview.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../css/MyFontsWebfontsKit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/shop/landing.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/shop/product/gallery2.css">

    <link rel="stylesheet" type="text/css" href="../../css/hero.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../../js/shopLanding.js"></script>
    <script src="../../js/grid.js"></script>
    <script src="../../js/gallery.js"></script>
    <script src="../../js/checkout.js"></script>
    
    <title>Aesthete | 100% Merino Wool Tees</title>
</head>

<body>

<% include ../newsletter %>

<% include ../header %>

<% include ../navbar %>

<% include ../cartTest %>

<div class="hero center heroProductPage" id="feature1">
    <div class="heroFeature">
        <p class="title">Wool Tees</br>
        <span class="subtext">100% MERINO WOOL</span></p>
        <p class="closing1"> <span class="closing2"></span></p>


    </div>

    <img class ="image1" src="../../images/shop/product/wooltees/1.png" />
</div>

<div class="hero mobileProductPage" id="feature1">

    <img class ="image1" src="../../images/shop/product/wooltees/mobile/1.png" />
</div>

<div class="grid">
    <div class="row3">
    <!-- style="background-image: url('../../images/shop/product/wooltees/color1.jpg')" -->
        <div class="module" >
            

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:navywool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Navy |</span>&nbsp;&nbsp;<span class="price">$95</span></a>
                    <p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

                <input class ="addToCart" id="cartGrid1" type="image" src="../../images/shop/product/closeCart.png" />
            </div>

            <a href="/shop/product/wool-tees/main:navywool"><img src="/images/shop/product/wooltees/color1.jpg"></img></a>
        </div>

        <div class="module">

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:heatherwool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Heather Grey |</span>&nbsp;&nbsp;<span class="price">$95</span></a>
                    <p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

               
                <input class ="addToCart" id="cartGrid2" type="image" src="../../images/shop/product/closeCart.png" />
                
            </div>


            <a href="/shop/product/wool-tees/main:heatherwool"><img src="/images/shop/product/wooltees/color2.jpg"></img></a>
        </div>
        <div class="module" >
            

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:militarywool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Military Green  |</span>&nbsp;&nbsp;<span class="price">$95</span></a>
                    <p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

                

                <input class ="addToCart" id="cartGrid3" type="image" src="../../images/shop/product/closeCart.png" />
            </div>

            <a href="/shop/product/wool-tees/main:militarywool"><img src="/images/shop/product/wooltees/color3.jpg"></img></a>
        </div>


    </div>
    <div class="row3">
        <div class="module" >
            

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:creamwool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Cream White  |</span>&nbsp;&nbsp;<span class="price">$95</span>
                    </a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

               
                <input class ="addToCart" id="cartGrid4" type="image" src="../../images/shop/product/closeCart.png" />
            </div>


            <a href="/shop/product/wool-tees/main:creamwool"><img src="/images/shop/product/wooltees/color4.jpg"></img></a>
        </div>
        <div class="module">
            


            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:charcoalwool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Charcoal Grey  |</span>&nbsp;&nbsp;<span class="price">$95</span>
                    </a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

                

                <input class ="addToCart" id="cartGrid5" type="image" src="../../images/shop/product/closeCart.png" />
            </div>


            <a href="/shop/product/wool-tees/main:charcoalwool"><img src="/images/shop/product/wooltees/color5.jpg"></img></a>
        </div>
        <div class="module">
            

            <div class="detail">
                <div class="info">
                    <a href="/shop/product/wool-tees/main:blackwool"><span class="title">Wool Tee</span> <span class="variant">&nbsp;&nbsp;Pure Black |</span>&nbsp;&nbsp;<span class="price">$95</span>
                    </a><p class="subtext">Sales tax, Shipping, and Returns included.</br>
                    <span class="subtext2">Merino Wool. Hand sewn in San Francisco.</span></p>
                </div>

                
                <input class ="addToCart" id="cartGrid6" type="image" src="../../images/shop/product/closeCart.png" />
            </div>

            <a href="/shop/product/wool-tees/main:blackwool"><img src="/images/shop/product/wooltees/color6.jpg"></img></a>
        </div>


    </div>
</div>

<!-- !!! -->
<!-- BIG GALLERY -->
<!-- !!! -->

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery7" >
        <p class="headerDetail"> <span class="productName">Wool Tee</span> | $95 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% New Zealand Merino Wool. Made in San Francisco.</br>

        <span class="hideMobile"></br></span>

        </p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal7"  class="10245006856" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton7" class="8" type="button" value="S"/>

                    <input id="productSizeMButton7" class="9" type="button" value="M"/>

                    <input id="productSizeLButton7" class="10" type="button" value="L"/>
                    <input id="productSizeXLButton7" class="11" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Charcoal Grey</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton7"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/wool-tees/main:charcoalwool"><img class ="image1 hideMobile" src="../../images/shop/product/wooltees/2.png" /><img class ="image1 mobile right" src="../../images/shop/product/wooltees/mobile/2.png" /></a>
</div>

<div class="gallery fullwidth" id="woolFeature">
    
    <div class="productDetailGallery" id ="productDetailGallery8" >
        <p class="headerDetail"> <span class="productName">Wool Tee</span> | $95 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% New Zealand Merino Wool. Made in San Francisco.</br><span class="hideMobile"></br></span></p>

        
        <div class="spacer"></div>

        <div class="productCartOptions">
                <div class="productCartAndDivider">

                    <div class="horizSpacer"></div>
                    <input id="cartGridFinal8"  class="10245006856" type="image" src="../../images/shop/product/addToCart.png"/>

                </div>

                <div class="productSize">

                    <input id="productSizeSButton8" class="16" type="button" value="S"/>

                    <input id="productSizeMButton8" class="17" type="button" value="M"/>

                    <input id="productSizeLButton8" class="18" type="button" value="L"/>
                    <input id="productSizeXLButton8" class="19" type="button" value="XL"/>
                </div>

                <div class="title">
                <span>Military Green</span>
                </div>
                
        </div>
    </div>

    <input class ="info" id="infoButton8"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/wool-tees/main:militarywool"><img class ="image1 hideMobile" src="../../images/shop/product/wooltees/3.png" /><img class ="image1 mobile right" src="../../images/shop/product/wooltees/mobile/3.png" /></a>
</div>



<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery9">
            <p class="headerDetail"> <span class="productName">Wool Tee</span> | $95 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% New Zealand Merino Wool. Made in San Francisco.</br><span class="hideMobile"></br></span></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal9"  class="10245006856" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton9" class="16" type="button" value="S"/>

                        <input id="productSizeMButton9" class="17" type="button" value="M"/>

                        <input id="productSizeLButton9" class="18" type="button" value="L"/>
                        <input id="productSizeXLButton9" class="19" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Military Green</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton9"  type="image" src="../../images/shop/product/infoButton.png"/>
    <a href="/shop/product/wool-tees/main:militarywool"><img class ="image1 hideMobile" src="../../images/shop/product/wooltees/4.png" /><img class ="image1 mobile right" src="../../images/shop/product/wooltees/mobile/4.png" /></a>
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery10">
            <p class="headerDetail"> <span class="productName">Wool Tee</span> | $95 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% New Zealand Merino Wool. Made in San Francisco.</br><span class="hideMobile"></br></span></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal10"  class="10245006856" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton10" class="0" type="button" value="S"/>

                        <input id="productSizeMButton10" class="1" type="button" value="M"/>

                        <input id="productSizeLButton10" class="2" type="button" value="L"/>
                        <input id="productSizeXLButton10" class="3" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Pure Black</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton10"  type="image" src="../../images/shop/product/infoButtonWhite.png"/>
    <img class ="image1 hideMobile" src="../../images/shop/product/wooltees/5.png" /><img class ="image1 mobile right" src="../../images/shop/product/wooltees/mobile/5.png" /></a>
</div>

<div class="gallery fullwidth" id="woolFeature">
    <div class="productDetailGallery" id ="productDetailGallery11">
            <p class="headerDetail"> <span class="productName">Wool Tee</span> | $95 </p>

        <div class="spacer"></div>

        <p class="descDetail"></br>100% New Zealand Merino Wool. Made in San Francisco.</br><span class="hideMobile"></br></span></p>

            
            <div class="spacer"></div>

            <div class="productCartOptions">
                    <div class="productCartAndDivider">

                        <div class="horizSpacer"></div>
                        <input id="cartGridFinal11"  class="10245006856" type="image" src="../../images/shop/product/addToCart.png"/>

                    </div>

                    <div class="productSize">

                        <input id="productSizeSButton11" class="8" type="button" value="S"/>

                        <input id="productSizeMButton11" class="9" type="button" value="M"/>

                        <input id="productSizeLButton11" class="10" type="button" value="L"/>
                        <input id="productSizeXLButton11" class="11" type="button" value="XL"/>
                    </div>

                    <div class="title">
                    <span>Navy</span>
                    </div>
                    
            </div>
         </div>

    <input class ="info" id="infoButton11"  type="image" src="../../images/shop/product/infoButton.png"/>
   <a href="/shop/product/wool-tees/main:navywool"><img class ="image1 hideMobile" src="../../images/shop/product/wooltees/6.png" /><img class ="image1 mobile right" src="../../images/shop/product/wooltees/mobile/6.png" /></a>
</div>

<% include ../footer %>

</body>
</html>