<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/inspiration/blog/posts/3/1.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="/css/hero.css">
    <link rel="stylesheet" type="text/css" href="/css/inspiration.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
        // console.log(inViewport($('div.blogText')));
        if($('div.navBarGhost').css('display') == 'none'){
            $('div.blogImageWrapper').css({width: $('div.navBar').width()});
        }else{
            $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

        }
        // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
            $(window).resize(function(){

               

                if($('div.navBarGhost').css('display') == 'none'){
                    $('div.blogImageWrapper').css({width: $('div.navBar').width()});
                }else{
                    $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

                }
                // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
                // $('div.blogImageWrapper').css({top: $('div.navBar').offset().top});
            });

        });

        // if (detectmob()){
        //     // $('div.blogText').css({width: $('div.navBar').width()});
        //     // $('div.blog').css({width: $('div.navBar').width()});
        //     // alert("hello");
        // }

        // function detectmob() {
        //    if(window.innerWidth <= 650) {
        //      return true;
        //    } else {
        //      return false;
        //    }
        // }
    </script>
    
    <title>Aesthete</title>
</head>

<body>

<% include ../../../../header %>

<% include ../../../../inspirationNavBar %>

<!-- BLOG -->
<div class="blogContainer">
    <div class="blogImage">
        <div class="blogImageWrapper">
        <img id="blogHeaderImg" src="../images/inspiration/blog/posts/3/1.png"></img>
        <img id="blogHeaderImgMobile" src="../images/inspiration/blog/posts/3/mobile/1.png"></img>
        <img style = "visibility: hidden;" src="../images/inspiration/blog/posts/3/1.png"></img>
        </div>
    </div>
    <div class="blogText">
        <div class="blog" id="blog" style="text-align: center">
            <p class="title" style="font-size: 42px">Fastest of Fashion - Profits over People</br><span class="author" style="font-size: 20px; line-height: 2px;">Cole Mayer</br><span class="date">October 2017</span></span></p>

           <p style="text-align: left"> When it comes to apparel usually the deal that’s “too good to be true” is just that. But the deal is right there in front of you, so how could it possibly not be true? One word… externalities. </br></br>
Diego, a fashionista and clothing designer working for a large clothing company walks into the 2016 New York Fashion week on September 7th. On his first day at the show Diego becomes enamored by a style of vest he sees— his company needs this, now. With nothing but four photos, in a fluster of excitement, he flies back to HQ. A crew of dozens of designers working for Diego instantly get to copying the photos. After one week they’ve got a perfect pattern. By week two they’re producing…what if I told you that by September 28th (week three) Diego’s mere four photos have morphed into four million vests? This is the reality we live in.</br></br>
Pretty amazing stuff— as individuals we now have the ability to purchase the newest styles as they emerge in an “acceptable” quality at a ridiculously low price point. The companies somehow (you’ll soon learn) make their profits, the consumer is content with their new product— everyone’s happy right?</br></br>
Unfortunately, something and/or someone must be paying for this expedited process. So who are the biggest losers? These majority of these externalities fall on mother nature and the individuals tasked with manufacturing the garments. These externalities are the part of fast fashion that you don’t hear about that make the deal you get truly ‘too good to be true’.</br></br>
<span style="font-family: 'Campton-Bold'">Clothing designer Eileen Fisher has called her industry</span><span class="quote"> “The second largest polluter in the world, second only to oil.”</span></br></br>
The entire process behind production in fast fashion does very little to minimize its impacts on Planet Earth. Environmental destruction is typically imagined as stripped mountainsides bustling with industrial mining, clear cut and/or burning forests, or innocent marine creatures slicked with oil stains. Rarely, if ever, do we think about our clothing in the same way… But we should, I mean come-on, $9 jeans and $3 tees…who’s making these deals possible?</br></br> 
Alright, let’s talk some numbers and terms to support the claim. Hang tight—</br></br>
<span class="quote">You reap what you sew.</span> <br>
Cotton is used in 40% of our clothing, worldwide only ~2.4% of all crops are cotton yet the fluffy soft stuff consumes ~25% of the worlds’ insecticides. China leads worldwide cotton production, followed by India. Only about 1% of of all cotton worldwide is grown organically. Have you ever seen an organic cotton tee you like? — no? — well you’re not alone, they’re really frickin’ hard to find! </br></br>
<span class="quote">Textile production is thirstier than you running a marathon after drinking a pint of sand. </span></br>
It takes nearly 5,000 gallons of h2o to manufacture a pair of fast fashion jeans and a tee to accompany it. In America that’s nearly an entire years worth of showering (15 gal/shower (USA Average-2016) • 365days = 5,475gal/yr). So next time you buy 2 pairs of jeans and 4 tees remember you’re also buying 2 years worth of showering. </br></br>
<span class="quote">Live free or dye trying. </span> </br>
The Citarum River in India is one of the the most polluted rivers in the world. Surely enough 70% of industrial factories along its’ headwaters are textile manufacturers. Chemical waste from these dyes inevitably, if not intentionally (to pursue max profits by engaging in sloppy techniques), end up in the rivers. It’s estimated 5+ million people downstream have adverse health effects due to the sludge of lead, mercury, and arsenic that now makes up their ‘communal’ water supply. </br></br>
<span class="quote">The sisterhood of the traveling garment.</span> </br>
In this day in age it’s entirely possible that by the time a fast fashion garment ends up in your closet it may have traveled the world more than you ever will. Hypothetically speaking, it’s possible that the raw cotton for your tee was grown in China, sent to India to be woven into thread, then sent to Bangladesh to be sewn into cloth (textile) and then sent back to China to be stitched into your final garment…oh yeah— and then shipped all the way across the world to the USA, and distributed via truck across the continental USA a few times before ending up in your favorite retail store. How could it possibly be more cost effective for these companies to ship the cotton/thread/textile/garment this many times around the world throughout the process of production? The answer is simple and can be explained using just a few variables, hang with me... <br>
Countries have very different minimum wages, along with costs they pay to adhere to regulations set by the government. If labor/manufacturing savings (LS+MS) and regulation savings (RS) are greater than the cost of shipping (CShip) then the materials will ship to a different region. Here’s the same concept in an equation for all you math buffs. If LS + MS + RS > CShip, then materials are shipped. It’s impossible to track just how much oil this constant transferring of materials consumes but we do know that of the 22 billion new clothing items bought by Americans each year only 2% of them are manufactured here in the USA. </br></br>
<span class="quote">Manufacturers worldwide are pitted against each other in a gladiator arena fight to the death.</span> </br>
The winners offer the best prices their country/government could possibly permit to the Fast Fashion giants (by exploiting minimum wages and gov’t regulations to their maximums). Naturally manufacturers in countries with the lowest paying wages and least strict regulations dominate the arena. Some would explain this as international capitalism working as designed, I see it as first world corporate exploitation of the weak and underdeveloped nations of the world. Take it or leave it. </br></br>
<span style="font-family: 'Campton-Bold'">Mid 20th Century. David Sarnoff.</span> <span class="quote">“Man is still the greatest miracle and the greatest problem on this earth.”</span></br></br>
Okay, so you now know a few things about your $10 jacket you wish you didn’t. Don’t worry— there’s no reason to frantically burn your entire wardrobe in a fit of self disgust or belligerently run through the streets shouting apocalyptic toned jargon. 
Fortunately we, the consumer, have the power to impact this system dramatically. Unlike oil tycoons (whom have deep roots in politics and almost everything we consume on a daily basis— that’s a different blog in itself) fast fashion powerhouses rely 100% on people purchasing their products to continue the cycle. There are four fairly easy things each of us can do that will help change the status quo of fast fashion. </br></br>
<span style="font-family: 'Campton-Bold'">1771. Georg Christoph Lichtenberg.</span><span class="quote"> “I cannot say whether things will get better if we change; what I can say is that they must change if they are to get better.”</span></br></br>
1. The deal that’s “too good to be true” usually is — The things that make this ‘deal’ possible are called externalities. Remember them. </br>
2. Learn your brands — They need to earn your trust and loyalty. Do your research.</br> 
3. Respect your clothing — Be aware of what you’re bringing into your wardrobe. If everything you own is your favorite then your garments will last longer and you’ll need less.</br>
4. Re-use and recycle — When you’re over a garment sell/donate it. </br>
That’s about it for today folks, and remember…</br>
<span style="font-family: 'Campton-Bold'">Early 20th Century. Mahatma Gandhi.</span><span class="quote"> “(The) truth never damages a cause that is just”</span>
        
</p>
<% include ../../../../footer %>
        </div>
    </div>
</div>

    
<!-- END -->


</body>
</html>