<script src="/js/banner.js"> </script>
<link rel="stylesheet" type="text/css" href="/css/banner.css">
<div class="discountBanner">
    <p class="discountPreText"> 30 </p>

    <p class="discountTitle"> BLACK FRIDAY</p>
    <p class="discountMainText"> 30% </p>
    <p class="discountSubText"> <span class="hideText">ONLINE AND IN - STORE</br></span>USE CODE: BLACK30 </p>
    <p class="discountSubText"> </p>
    <p class="discountSubtext2"> 30% off</p> 
</div>