<!DOCTYPE html>

<!--      
      _/_/    
   _/    _/          Designed by: Dustin Simantob
  _/_/_/_/   _/  
 _/    _/            Developed by: Ritesh Pakala
_/    _/   

-->

<html lang="en">
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCLD3MQ');</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="/images/inspiration/blog/posts/1/1.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/logos/favicon.ico">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/shop/landing.css">

    <link rel="stylesheet" type="text/css" href="/css/hero.css">
    <link rel="stylesheet" type="text/css" href="/css/inspiration.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <script src="https://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="../js/inspiration.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
        // console.log(inViewport($('div.blogText')));
        if($('div.navBarGhost').css('display') == 'none'){
            $('div.blogImageWrapper').css({width: $('div.navBar').width()});
        }else{
            $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

        }
        // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
            $(window).resize(function(){

               

                if($('div.navBarGhost').css('display') == 'none'){
                    $('div.blogImageWrapper').css({width: $('div.navBar').width()});
                }else{
                    $('div.blogImageWrapper').css({width: $('div.navBarGhost').width()});

                }
                // $('div.blogImage').css({height: 550+inViewport($('div.blogText'))-100});
                // $('div.blogImageWrapper').css({top: $('div.navBar').offset().top});
            });

        });

        // if (detectmob()){
        //     // $('div.blogText').css({width: $('div.navBar').width()});
        //     // $('div.blog').css({width: $('div.navBar').width()});
        //     // alert("hello");
        // }

        // function detectmob() {
        //    if(window.innerWidth <= 650) {
        //      return true;
        //    } else {
        //      return false;
        //    }
        // }
    </script>
    
    <title>Aesthete</title>
</head>

<body>

<% include ../../../../header %>

<% include ../../../../inspirationNavBar %>

<!-- BLOG -->
<div class="blogContainer">
    <div class="blogImage">
        <div class="blogImageWrapper">
        <img id="blogHeaderImg" src="../images/inspiration/blog/posts/1/1.png"></img>
        <img id="blogHeaderImgMobile" src="../images/inspiration/blog/posts/1/mobile/1.png"></img>
        <img style = "visibility: hidden;" src="../images/inspiration/blog/posts/1/1.png"></img>
        </div>
    </div>
    <div class="blogText">
        <div class="blog" id="blog" style="text-align: center">
            <p class="title" style="font-size: 42px">The Bauhaus</br><span class="author" style="font-size: 20px; line-height: 2px;">Cole Mayer</br><span class="date">August 2017</span></span></p>

            <p class="story" style="font-size: 20px">
Have we lost ourselves in a society that values mindless construction and efficiency over thoughtful artistic expression and material experimentation? Others have had this realization…decades ago. This is the story of “The Bauhaus”. </br></br>

<span class="quote"><span class="author">Oskar Schlemmer. Bauhaus Member. Early 20th Century.</span> “If todays arts love the machine, technology and organization, if they aspire to precision and reject anything vague and dreamy, this implies an instinctive repudiation of chaos and a longing to find the form appropriate to our times.”</span></br></br>

The Bauhaus, literally meaning “house of building”, was one of the most influential design institutes of the 20th century. Founded in Weimar, Germany in 1919 the mission of the institute was simple; level the distinction between fine and applied arts and reunite creativity and manufacturing in a world quickly being overwhelmed by “mindless “and “artless” construction techniques. At the time creativity and manufacturing were drifting apart, resulting in “soul-less” products. These ideals and realizations blossomed from the schools founder, world renowned architect Walter Gropius, and have reverberated through societies worldwide ever since. </br></br>

<span class="quote"><span class="author">Walter Gropius. Bauhaus Founder. 1919. </span>“The ultimate aim of all artistic activity is building! Architects, sculptors, painters, we must all get back to the craft! Let us form a new guild of craftsmen without the class divisions that set out to raise an arrogant barrier between craftsmen and artists!”</span></br></br>

So what set the school apart from other art institutes? Most impactful was the school’s unique and influential curriculum. Gropius himself created the below ‘wheel diagram’ outlining the progression of education one could expect to receive whilst attending The Bauhaus. </p></br></br>

<div class="img">
<img src="/images/inspiration/blog/posts/1/images/1.png"></img>
</div>

</br></br>
<p class="story" style="font-size: 20px">
The outer ring, the vorkurs, are the foundation courses created to help students begin to grapple with the concepts of contrasting properties of forms, colors and materials. After graduating from the vorkurs, students would participate in the two inner rings, both of which were individual three-year-long courses. The second inner ring, the formlehre, focused on the expression of form in all settings, while the third and final ring, the werklehre, focused on material construction and the crafting skills needed in order to use specific materials. Only after completing the three rings would a student enter the realm of the inner circle…</br></br>

The inner circle focused on minimalist concepts and individual building. These courses specialized in building construction that led students to seek practicality and necessity through simple reproduction, all with an emphasis on craft and workmanship that was lost in the rise of industrial manufacturing. This process was done in a setting that fostered individual creative potential in a communal sense, devoid of aggressive malicous competition. </br></br>

From this truly unique curriculum Gropius and his band of brilliant faculty (all world-class artists themselves) were able to recreate the essence of a time before manufacturing, crafting, and artistic expression had drifted apart. Gropius had the dream that The Bauhaus would umbrella all of artistic media: fine arts, industrial design, graphic design, typography, interior design and finally architecture— his dream was accomplished through the teachings of The Bauhaus, if only for a fleeting moment. </br></br>

<span class="quote"><span class="author">Walter Gropius. Early 20th Century. </span>“Our guiding principle was that design is neither an intellectual nor a material affair, but simply an integral part of the stuff of life, necessary for everyone in a civilized society.” </span></br></br>

In 1925 The Bauhaus was moved to Dessau, Germany; marking the start of the school’s most influential period. Quickly after this move The Bauhaus finally implemented a department of architecture…something that had been ironically (possibly intentionally) missing from the school since its creation six years earlier. Through the department of architecture the school was able to continue and expand its core curriculum, inspiring thousands of students to embody The Bauhaus philosophy. </br></br>

By 1933, 14 years after the school was initially opened, with Germany being ruled by the Nazi regime, the school was politically ostracized and closed permanently, but the legacy of the Bauhaus philosophy has undoubtedly lived on through its founders, teachers, and students…</br></br>

Walter Gropius moved to the United States and taught his passion relentlessly through the Graduate School of Design at Harvard, where he also influenced much of the curriculum used today. 
 “Architecture begins where engineering ends.”</br></br>

Ludwig Mies van der Rohe, the director of the school from 1932-1933 also moved to the United States in the wake of the Nazi regime, where he became Director of the College of Architecture at the Illinois Institute of Technology and created world famous buildings such as the Farnsworth House. 
“A chair is a very difficult object. A skyscraper is almost easier.” </br></br>

Josef Albers, appointed by the Bauhaus as “jungmeister” (young master) professor in 1925 also left Germany to pursue a stable career at Black Mountain College in North Carolina, where he too shaped much of the schools modern curricular. </br>
“Any ground subtracts its own hue from the colors which it carries and therefore influences.”</br></br>

The reaches of the Bauhaus philosophy continue to inspire individuals and organizations each and every day all across world. In this day-in-age it is crucial that creativity and construction are inseparable. Only then will we truly begin to be the best we can be. </br></br>

<span class="quote"><span class="author">Ludwig Mies van der Rohe. Early 20th Century.</span> “I don't want to be interesting. I want to be good.”</span></p>
        

<% include ../../../../footer %>
        </div>
    </div>
</div>

    
<!-- END -->


</body>
</html>